
<body>
   
    <section id="contact-section"> 
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="contact-heading">
                        <h1>Contact Us</h1>
                        <p>Get in touch with us, we’d love to help!</p>		
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-box">
                        <div class="contact-detail">
                        <form class="form-horizontal">
                            <div class="form-group">
                               <!--  <label class="control-label col-sm-12" for="name">Email:</label> -->
                                <div class="col-sm-12">
                                  <input type="name" class="form-control" id="name" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group">
                               <!--  <label class="control-label col-sm-12" for="email">Password:</label> -->
                                <div class="col-sm-12"> 
                                    <input type="email" class="form-control" id="email" placeholder="Email ID">
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label class="control-label col-sm-12" for="number">Password:</label> -->
                                <div class="col-sm-12"> 
                                    <input type="text" class="form-control" id="text" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12"> 
                                    <textarea class="form-control" rows="3" id="comment" placeholder="Your query"></textarea>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn  b">Send</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>