
<body>
<form>
    <div class="container">
    <div class="row">

        <div class="col-sm-8">
            <h6><strong>Deduction u/s 80D- Mediclaim Insurance Premium</strong></h6>
            <table class="table table-bordered">
                    <thead text-center="">
                        <tr>
                            <th>S.no.</th>
                            <th>Insured Person</th>
                            <th>Age</th>
                            <th>Medical Premium</th>
                            <th>Medical Expenditures</th>
                            <th>Health checkup Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Self Family(Husband,wife,children)</td>
                            <td>Less 60 </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control" disabled  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>2</td>
                            <td>Self(Senior Citizen) & Family(Husband,wife,children</td>

                            <td>60+ </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round"  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>3</td>
                            <td>Only Parents</td>
                            <td>Less 60 </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control " disabled  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>4</td>
                            <td>Parents</td>
                            <td> 60+ </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round"  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>5</td>
                            <td>Self & Family(Husband,Wife,children,Mother,Father)</td>
                            <td>Less 60 </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control " disabled  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>6</td>
                            <td>Self & Family(Husband, Wife, Children, Mother/Father(senior citizen)</td>
                            <td>60+ </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round"  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>7</td>
                            <td>Self(Senior Citizen) & Parents(Senior Citizen)</td>
                            <td> All 60+ </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round"  placeholder="">
                            </td>
                            <td class="no-pad"><input type="name" class="form-control custom-round"  placeholder=""></td>
                        </tr>
                        <!--  -->
                        </tbody>
                </table>
                     
                <div class="form-group row">
                    <label for="staticEmail" style="margin-left: 10px;" class="col-sm-4 col-form-label">Total Qualifying Deduction</label>
                    <div class="col-sm-4">
                        <input type="" class="form-control"  >
                    </div>
                  </div>
            </div>
     </div>
         
         <div class="row">
             <div class="col-sm-8">
                 <button class="b btn">Next</button>
                 <button class="btn b">Edit</button>
                 <button class="btn b">Save</button>
             </div>
         </div>
</div>
</form>
</body>
