<body>
    <form>
    <div class="container">
        <div class="row">
   <div class=" col-sm-8 col-md-8">
       <h5><strong>Tax Deducted From Salary by Employer/As Per Form 16</strong></h5>
       <table class="table table-bordered table-responsive">
           <thead text-center="">
               <tr>
                  
                   <th class="no-pad1">TAN No.</th>
                   <th class="no-pad1">Name of Company/Deducter</th>
                   <th class="no-pad1">Total Salary/Income</th>
                   <th class="no-pad1">TDS/TAX Deducted</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                  
                   <td class="no-pad">
                       <input type="text" name="" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
                   <td class="no-pad">
                       <input type="text" name="" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
                   <td class="no-pad">
                       <input type="text" name="" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
                   <td class="no-pad">
                       <input type="text" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
               </tr>
               <tr>
                  
                   <td class="no-pad">
                       <input type="text" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
                   <td class="no-pad">
                       <input type="text" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
                   <td class="no-pad">
                       <input type="text" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
                   <td class="no-pad">
                       <input type="text" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                   </td>
               </tr>
               <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                    <td class="no-pad">
                         <input [(ngModel)]="dynamicArray[i].title1" [ngModelOptions]="{standalone: true}" class="form-control" type="text" /> 
                   </td>
                    <td class="no-pad">
                        <input [(ngModel)]="dynamicArray[i].title2" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />     
                    </td>
                    <td class="no-pad">
                    <input [(ngModel)]="dynamicArray[i].title3" [ngModelOptions]="{standalone: true}" class="form-control" type="text"/> 
                    </td>
                     <td class="no-pad">
                    <input [(ngModel)]="dynamicArray[i].title4" [ngModelOptions]="{standalone: true}" class="form-control" type="text"/>   
                    </td>
                  
            </tr>
           </tbody>
       </table>
       <button class="btn b" (click)="addRow(i)"> <i class="fa fa-plus"></i></button>
       <button class="btn btn-danger" style="float:right; margin-top:30px;" (click)="deleteRow(i)">    
        <i class="fa fa-times" aria-hidden="true"></i> 
      </button>  
   </div>
</div>
    
   <div class="row">
   <div class="col-sm-8 col-md-8">
        <button class="b btn">Next</button>
        <button class="b btn">Edit</button>
        <button class="b btn">Save</button>
       </div>
   </div>
   <!--  -->
</div>
</form>
</body>

