
<body>
    <form>
    <div class="container">
        <div class="row">
            
      <div class="detail-1 col-sm-8 col-md-8">
        <h5><strong>TDS/TAX Deducted from FD/Comission/Proffesional fee (Business income)</strong></h5>
        <table class="table table-bordered table-responsive">
            <thead text-center="">
                
                <tr>
                    <th class="no-pad1">TAN No.</th>
                    <th class="no-pad1">Name of Deducter</th>
                    <th class="no-pad1">Amount Recevied</th>
                    <th class="no-pad1"><select class="form-control custom-round">
                        <option value="Original">House Property</option>
                        <option value="Reserved">Business Profession</option>
                          <option value="Reserved">Other Sources Exemption income</option>
                        <option value="Reserved">Capital Income</option>
                    </select></th>
                    <th class="no-pad1">TDS/TAX Deducted</th>
                    <th class="no-pad1">Amount Claimed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                      <input type="name"   class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                </tr>
            
                <tr>
                    
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                    <input type="text" class="form-control custom-round" id="exampleInputEmail" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                    </td>
                </tr>
                <tr *ngFor="let dynamic of dynamicArraysecond; let i = index;">
                    <td class="no-pad">
                         <input [(ngModel)]="dynamicArraysecond[i].row1" [ngModelOptions]="{standalone: true}" name="row1" class="form-control" type="text" /> 
                   </td>
                    <td class="no-pad">
                        <input [(ngModel)]="dynamicArraysecond[i].row2" [ngModelOptions]="{standalone: true}" name="row2" class="form-control" type="text" />     
                    </td>
                    <td class="no-pad">
                    <input [(ngModel)]="dynamicArraysecond[i].row3" [ngModelOptions]="{standalone: true}" name="row3" class="form-control" type="text"/> 
                    </td>
                     <td class="no-pad">
                    <input [(ngModel)]="dynamicArraysecond[i].row4"[ngModelOptions]="{standalone: true}" name="row4" class="form-control" type="text"/>   
                    </td>
                    <td class="no-pad">
                     <input [(ngModel)]="dynamicArraysecond[i].row5" [ngModelOptions]="{standalone: true}" name="row5" class="form-control" type="text"/>   
                    </td>
                   <td class="no-pad">
                   <input [(ngModel)]="dynamicArraysecond[i].row6"  [ngModelOptions]="{standalone: true}" name="row6" class="form-control" type="text"/>   
                   </td>
                              
            </tr>
           </tbody>
       </table>
       <button class="btn b" (click)="addRowsecond(i)"> <i class="fa fa-plus"></i></button>
       <button class="btn btn-danger" style="float:right; margin-top:30px;" (click)="deleteRowsecond(i)">    
        <i class="fa fa-times" aria-hidden="true"></i> 
      </button>  
    </div>
    
    </div>
    <div class="row">
    <div class="col-sm-8 col-md-8">
            <button class="btn b">Next</button> 
            <button class="btn b">Edit</button> 
            <button class="btn b">Save</button> 
    </div>
    </div>
    </div>
</form>
    </body>

    
