<div class="container">
    <fieldset>
     <div class="row">
       <div class=" col-md-12 col-sm-12">
             <div class="frm">
                <a [routerLink]="['/set-password']">Upload From-16 pdf</a>
             </div>
             <div class="frm">
                <a [routerLink]="['/']">Enter form-16 details</a>
             </div>
             <div class="frm">
                <a [routerLink]="['/']">Salary/Other Income</a>
             </div>
             <div class="frm">
                <a [routerLink]="['/']">Autofill details</a>
             </div>
        </div>
      </div>
  </fieldset>
</div>
