fieldset{
    width:auto;
    height: 500px;
    border: 1px solid gray;
    margin-top:100px;
    
}

.frm{
    display: inline-block;
    width:200px;
    height: 80px;
    color:#fff;
    border: 1px solid black;
    background-color: #34bf49;
}
body{
	position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8em;
  
   font-family: 'Roboto', sans-serif;
}
.container {
	display: flex;
	flex-direction:none;
	height: 100vh;
}
a{
    
    font-weight: 800;
}
@media (max-width: 768px) {
  
    .frm{
        display: inline-block;
        width:90px;
        height: 50px;
        border: 1px solid black;
        background-color: #34bf49;
    }
    a{
       
        font-weight: 300;
    }
}
