<body>
    <form>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9">
    <h5><strong>TCS :- Tax Collected (Also Tax Collected on Vehicle Purchased)</strong></h5>
    <table class="table table-bordered">
        <thead text-center="">
            <tr>
                <th class="no-pad1">TAN No. of Tax collecter</th>
                <th class="no-pad1">Name of Employer/Person</th>
                <th class="no-pad1">Amount of which Tax is liabity</th>
                <th class="no-pad"><select class="form-control custom-round">
            <option value="Original">House Property</option>
            <option value="Reserved">Business Income</option>
              <option value="Reserved">Other Sources Exemption Income</option>
            <option value="Reserved">capital gain</option>
        </select></th>
                <th class="no-pad1">Amount Claimed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
            </tr>
            <tr>
                
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                </td>
            </tr>
            <tr *ngFor="let dynamic of dynamicArrayfourth; let i = index;">
                <td class="no-pad">
                     <input [(ngModel)]="dynamicArrayfourth[i].sub1" [ngModelOptions]="{standalone: true}" name="row1" class="form-control" type="text" /> 
               </td>
                <td class="no-pad">
                    <input [(ngModel)]="dynamicArrayfourth[i].sub2" [ngModelOptions]="{standalone: true}" name="row2" class="form-control" type="text" />     
                </td>
                <td class="no-pad">
                <input [(ngModel)]="dynamicArrayfourth[i].sub3" [ngModelOptions]="{standalone: true}" name="row3" class="form-control" type="text"/> 
                </td>
                 <td class="no-pad">
                <input [(ngModel)]="dynamicArrayfourth[i].sub4"[ngModelOptions]="{standalone: true}" name="row4" class="form-control" type="text"/>   
                </td>
                <td class="no-pad">
                 <input [(ngModel)]="dynamicArrayfourth[i].sub5" [ngModelOptions]="{standalone: true}" name="row5" class="form-control" type="text"/>   
                </td>
          </tr>
       </tbody>
   </table>
   <button class="btn b" (click)="addsubRow(i)"> <i class="fa fa-plus"></i></button>
   <button class="btn btn-danger" style="float:right; margin-top:30px;" (click)="deletesubRow(i)">    
    <i class="fa fa-times" aria-hidden="true"></i> 
  </button>  
</div>
 </div>

<div class="row">
<div class="col-sm-9 col-md-9">
    <button class="b btn">Next</button>
    <button class="b btn">Edit</button>
    <button class="b btn">Save</button>
</div>
</div>


</div>
</form>
</body>