body{
	position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
  
   font-family: 'Roboto', sans-serif;
}


h4{
    text-align: center;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: 50px;
  }
  .b{

    
    width: 100%;
    height: 35px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
 
    margin-bottom: 12px;
    border-radius: 4px;
	color:#fff;
	font-weight:600;
}

 .custon{
    margin-top: 2px;
    width: 100%;
    height: 35px;
    font-size: 13px;

 }
 input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

 