    <div class="container">
        <ng-container *ngIf="!isSendOTP">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-sm-6 col-sm-12 ">
                    <form #registerForm="ngForm" autocomplete="off">
                        <h4 style="margin-left:15px; margin-top: 100px;">Registration</h4>
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-6">
                                <input #userName="ngModel" type="text" name="userName" [(ngModel)]="dataobj.userName"
                                    pattern="[a-zA-Z][a-zA-Z ]+" class="form-control custon" placeholder="Name"
                                    required>
                                <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid ">
                                    <div *ngIf="userName.hasError('required')">Name is required</div>
                                    <div *ngIf="userName.touched && userName.hasError('pattern')">Only alphabets are
                                        allowed</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputmobile" class="col-sm-4 col-form-label">Mobile Number</label>
                            <div class="col-sm-6">
                                <input #mobileNo="ngModel" type="number" [(ngModel)]="dataobj.mobileNo" name="mobileNo"
                                    pattern="[0-9]*" minlength="10" maxlength="10" class="form-control custon"
                                    placeholder="Mobile Number" required>
                                <div *ngIf="!mobileNo.valid && mobileNo.touched" class="alert alert-danger">
                                    <div *ngIf="mobileNo.hasError('minlength')">Mobile should be 10 digit</div>
                                    <div *ngIf="mobileNo.hasError('required')">Mobile is required</div>
                                    <div *ngIf="mobileNo.hasError('pattern')">Mobile numberr should be only numbers</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputemail" class="col-sm-4 col-form-label">Email ID</label>
                            <div class="col-sm-6">
                                <input #email="ngModel" type="email" [(ngModel)]="dataobj.email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    class="form-control custon" placeholder="Email" required>
                                <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
                                    <div *ngIf="email.hasError('required')">Email is required</div>
                                    <div *ngIf="email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputpassword" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-6">
                                <input #password="ngModel" type="password" [(ngModel)]="dataobj.password" name="password"
                                    class="form-control custon" placeholder="Password" required minlength="6">
                                <div *ngIf="!password.valid && password.touched" class="alert alert-danger">
                                    <div *ngIf="password.hasError('required')">Password is required</div>
                                    <div *ngIf="password.hasError('minlength')">Password should be length 6</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputconpass" class="col-sm-4 col-form-label ">Confirm Password</label>
                            <div class="col-sm-6">
                                <input #confirmPassword="ngModel" type="password" [(ngModel)]="dataobj.confirmPassword"
                                    name="confirmPassword" class="form-control custon" placeholder="Confirm Password"
                                    required minlength="6">
                                <div *ngIf="!confirmPassword.valid && confirmPassword.touched" class="alert alert-danger">
                                    Passwords does not match
                                </div>
                                <button type="submit" style="margin-top: 14px;" [disabled]="!registerForm.form.valid"
                                    (click)="sendotp(registerForm)" class="btn  b">Send OTP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ng-container>

        <ng-container >
            <div class="row" *ngIf="isSendOTP" style="margin-top: 100px">
                <div class="col-md-6 col-sm-6 col-sm-12 ">
                    <span>Enter OTP send to register mobile no.</span>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control custon" id="inputotp" placeholder="Enter OTP"
                                required [(ngModel)]="otp">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <button type="submit" (click)="verifyOTP()" class="btn  b">Submit OTP/ Set Password</button>
                            <!-- <button type="submit" class="btn  b">Send activation link on Email</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>