<div class="footer">
    <p>Electronic Return Intermediary of Income Tax Department-ERIIN-100000000001661
  </p>
  <hr>
  <p>By continuing past this page, you agree to our Terms and Conditions and Privacy Policy | Copyright © 2017 SubmitITR.com| All Rights Reserved</p>
  </div>