.footer {
      left: 0;
     width: 100%;
    background-color: rgb(228, 220, 220);
    color: black;
    text-align: center;
    margin-top:70px;
    padding: 10px;
} 
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.88);
}