<body>

  <div class="container">
    <form>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-sm-12">
      
       <div class="form-check">
       <input class="form-check-input" type="radio"  name="radi1" checked  (click)="ShowDiv('A')">
          <label class="form-check-label" for="exampleRadios1">
            <h6>   Reset User Password Through Mobile </h6>
             </label>
        </div>
        <div *ngIf="currDiv == 'A'" class="desc">
          
          <div class="form-group">
            <input type="email" class="form-control custon " placeholder="User ID / Mobile Number" name="uname" required >
            </div>
            <div class="form-group">
              <button class="btn b">Send OTP</button>
            </div>
            <div class="form-group">
            <input type="number" class="form-control custon " placeholder="Enter OTP" name="otp" required >
           </div>
           <div class="form-group">
            <button class="btn b">Submit OTP / Set Password</button>
          </div>

         </div>
    
      </div>
      <div class="col-md-4 col-sm-4 col-sm-12">
       <div class="form-check">
        <input class="form-check-input" type="radio" name="radi1" (click)="ShowDiv('B')">
           <label class="form-check-label" for="exampleRadios1">
             <h6>   Reset User Password Through Email </h6>
              </label>
         </div>
         <div *ngIf="currDiv == 'B'" class="desc">
      <div class="form-group">
         <input type="email" name="email1" id="emailid" class="form-control custon"  placeholder="Enter Your Email">
        </div>
        <div class="form-group">
          <button class="btn b">Set Reset Link On Mail</button>
        </div> 
       
      </div>
      </div>
      <div class="col-md-4 col-sm-4 col-sm-12">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radi1" (click)="ShowDiv('C')">
             <label class="form-check-label" for="exampleRadios1">
               <h6>   Reset User Password Through fb / Google </h6>
                </label>
           </div>

     <div *ngIf="currDiv == 'C'" class="desc"> 
        <div class="form-group">
          <button href="#" class="fb btn">
               <i class="fa fa-facebook fa-2x"></i><h6> Login with Facebook</h6>
              </button>
              <div id="gSignInWrapper">
                  <div id="customBtn" class="customGPlusSignIn">
                 <span class="icon"></span><h6>Sign In with Google</h6>
                 </div>
             </div>
      </div>
      </div>
      </div>
   
    </div>
    </form>
  </div>

</body>