body{
	position: relative;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    font-family: 'Roboto', sans-serif;
}
.b{
	margin-top: 4px;
    width: 90%;
    height: 40px;
    font-size: 17px;
    background-color: #34bf49;
    border-color: #34bf49;
 
    margin-bottom: 12px;
    border-radius: 4px;
	color:#fff;
	font-weight:600;
}
.custon{
    margin-top: 4px;
    width: 90%;
    height: 35px;
    font-size: 13px;
}
 span {
    display: inline-block;
}
.fb {
    background-color: rgb(70, 103, 175);
    color: white;
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  .fa{
      float: left;
 }
 h6{
     margin-top:6px;
     
     font-weight: 700;
 }
  #customBtn {
   display: inline-block;
   background: white;
   color: rgb(131, 124, 124);
   
    width: 90%;
    height: 42px;
    font-size: 13px;

   border-radius: 5px;
   border: thin solid rgb(192, 180, 180);
   white-space: nowrap;
 }
 #customBtn:hover {
   cursor: pointer;
 }
 span.label {
   font-family: serif;
   font-weight: normal;
 }
 span.icon {
  background: url('..\..\..\assets\images\google.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 90px;
  height: 39px;
 
}
 span.buttonText {
   display: inline-block;
   vertical-align: middle;
   padding-left: 42px;
   padding-right: 42px;
   font-size: 14px;
   font-weight: bold;
   /* Use the Roboto font that is loaded in the <head> */
   font-family: 'Roboto', sans-serif;
 }
  
 .desc{
   margin-top:30px;
 }
