<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="#">
      <img class="img img-responsive" src="..\..\..\assets\images\logo-1.png">
    </a>
    <button class="navbar-toggler  d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav  ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>

        <li class="nav-item  dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            My Profile <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/change-password']">Change Password</a>
            <a class="dropdown-item" [routerLink]="['/update-contactdetails']">Update Profile</a>
            <a class="dropdown-item" href="#">upload Documents</a>
            <a class="dropdown-item" href="#">download documents</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Switch To <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>