<body>
    <div class="container">
        <div class ="row">
            <div class="col-md-4 col-sm-4 col-sm-12"></div> 
            <div class="col-md-4 col-sm-4 col-sm-12">
        <form >
                <h4>Update Contact Details</h4>
                 <div class="form-group">
                   <label for="inputname">Name</label>
                   <input type="Name" class="form-control custon"  id="inputname" Placeholder="  Enter Name">
                   </div>
                   <div class="form-group">
                   <label for="inputEmail">Email Id</label>
                   <input type="Email id" class="form-control custon" id="inputEmail" Placeholder=" Enter Email id">
                   </div>
                   <div class="form-group">
                   <label for="inputaddress">Address</label>
                   <input type="Address" class="form-control custon" id="inputaddress"   Placeholder="Enter Address ">
                   </div>
                   <div class="form-group">
                   <label for="inputAdhaar">Aadhaar No</label>
                   <input type="Aadhaar" class="form-control custon" id="inputAdhaar" Placeholder="Enter Aadhaar No. ">
                   </div>
                   <a href="#" class="btn b">Edit</a>
                   <button type="Submit"  class="btn b"> Save</button>
         </form>  
                 </div>
         <div class="col-md-4 col-sm-4 col-sm-12"></div>
          </div>
 </div>
</body>