
<body>

<div class="container">
  <a href="#bottom" class="btn btn-success">Go To End</a>  
  
      <form>
   <table class="table table-bordered table-responsive">
      <thead>
        <tr class="">
          <th  class="text-center" colspan="24">FORM NO.16</th>
          </tr>
          <tr>
          <th   class="text-center" colspan="24">PART-B</th>
          </tr>
          <tr>
          <th class="text-center" colspan="24"> Certificate under Section 203 of the Income-tax Act, 1961 for tax deducted at source on salary</th>
          </tr>
          <tr>
          
          <th colspan="12"> Certificate No.   </th>
          
          <th class="text-center" colspan="12">  Last Updated On </th>
          </tr>
          <tr>
          <th class="text-center"  colspan="12"> 
          Name and address of the Employer </th>
          <th class="text-center" colspan="12">
          Name and address of the Employee
          </th>
          </tr>
          <tr class="">
          <th class="text-center" colspan="12">  <textarea class="form-control-1" rows="3" id="comment" placeholder=""></textarea></th> 
          <th class="text-center"  colspan="12"><textarea class="form-control-1" rows="3" id="comment" placeholder=""></textarea></th>
          </tr>
          <tr>
           <th class="text-center"colspan="8"> PAN of the Deductor </th>
          <th class="text-center" colspan= "8"> TAN of the Deductor </th>
           <th class="text-center" colspan="8"> PAN of the Employee </th>
          </tr>
          <tr>
           <th class="text-center" colspan="8">
             <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder=""> </th>
          <th class="text-center" colspan="8">
              <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder=""> </th>
           <th class="text-center" colspan="8">
              <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
           </th>
          </tr>
          
          <tr>
           <th class="text-center" height="40px;" width="600px;" colspan="8">CIT (TDS)</th>
          <th class="text-center"height="40px;" width="600px;" colspan="8">Assessment Year </th>
           <th class="text-center"height="40px;" width="600px;" colspan="8"> 
           Period with the Employer</th>
          </tr>
           <tr>
          
           <td class="text-center"  colspan="8">The Commissioner of Income Tax (TDS) C.R. Building, Sector 17 . E, Himalaya Marg Chandigarh - 160017
          </td>
          <th  colspan= "8" class="text-center">
            <select class="no-pad custom-select">
              <option value="Original">Year 2019</option>
              <option value="Reserved">Year 2020</option>
               <option value="Reserved">Year 2018</option>
              <option value="Reserved">Year 2017</option>
            </select></th>
     <td class="no-pad">
       <input type="name" class="form-control custom-round" id="" placeholder="FROM">
        </td> 
     <td class="no-pad">
       <input type="name" class="form-control custom-round" id="" placeholder="TO">
        </td>  
                    
          </tr>
          </thead> </table>
      <table class="table table-bordered table-responsive">
        <tr>
          <th colspan="2" class="text-left" width="600px">Details of Salary Paid and any other income and tax deducted
  </th>
  <th width="150px" class="text-center" >Rs.</th>
  <th width="150px"class="text-center">Rs.</th>
  </tr>
  <tr>
    <th width="20px">1.</th>
    <th colspan="3" width="880px">Gross Salary</th>
    
    </tr>
    <tr>
      <td width="20px">(a)</td>
      <td width="580px">Salary as per provisions contained in section 17(1) </td>
      <td class="no-pad">
          <input type="name" class="form-control custom-round" id="" placeholder="">
        </td>
        <td class="no-pad">
            <input type="name" class="form-control custom-round" id="" placeholder="">
          </td>
        
      </tr>
      <tr>
          <td width="20px">(b)</td>
          <td width="580px">Value of perquisites under section 17(2) (as per Form No. 12BA, wherever applicable)
            </td>
            <td class="no-pad">
                <input type="name" class="form-control custom-round" id="" placeholder="">
              </td>
              <td class="no-pad">
                  <input type="name" class="form-control custom-round" id="" placeholder="">
                </td>
            
          </tr>
          <tr>
              <td width="20px">(c)</td>
              <td width="580px">Profits in lieu of salary under section 17(3) (as per Form No. 12BA, wherever applicable)
                </td>
                <td class="no-pad">
                    <input type="name" class="form-control custom-round" id="" placeholder="">
                  </td>
                  <td class="no-pad">
                      <input type="name" class="form-control custom-round" id="" placeholder="">
                    </td>
                
              </tr>
         <tr>
           <td>(d)</td>
           <td colspan="2">Total</td>
          

            <td class="no-pad">
                <input type="name" class="form-control custom-round" id="" placeholder="">
              </td>
          </tr>
          <tr>
              <td>(e)</td>
              <td >Reported total amount of salary received from other employer(s)</td><td class="no-pad">
                 <input type="name" class="form-control custom-round" id="" placeholder="">
               </td>
   
               <td class="no-pad">
                   <input type="name" class="form-control custom-round" id="" placeholder="">
                 </td>
             </tr>
             <tr>
                <th width="20px">2.</th>
                <th colspan="3" width="880px">Less: Allowances to the extent exempt under section 10
                  </th>
                
                </tr>
                <tr>
                  <td width="20px">(a)</td>
                  <td width="580px">Travel concession or assistance under section 10(5) </td>
                  <td class="no-pad">
                      <input type="text" class="form-control custom-round" id="" placeholder="">
                    </td>
                    <td class="no-pad">
                        <input type="text" class="form-control custom-round" id="" placeholder="">
                      </td>
                    
                  </tr>
            <tr>
              <td width="20px">(b) </td>
              <td>Death-cum-retirement gratuity under section 10(10)</td>
              <td class="no-pad ">
                <input type="text" class="form-control custom-round" id="" placeholder="">

              </td>
              <td class="no-pad">
                <input type="text" class="form-control custom-rounf" id="" placeholder="">

              </td>

            </tr>
            <tr>
              <td width="20px">(c)</td>
              <td>Commuted value of pension under section 10(10A)</td>
              <td class="no-pad">
                <input type="text" class="form-control custom-round" id ="" placeholder=""></td>
                 <td class="no-pad">
                   <input type="text" class="form-control custom-round" id="" placeholder="">
                 </td>


            </tr>
            <tr> 
              <td width="20px">(d)</td>
              <td>Cash equivalent of leave salary encashment under section 10 (10AA)</td>
              <td class="no-pad">
                <input type="amount" class="form-control custom-round" id="" placeholder="">

              </td>
              <td class="no-pad">
                <input type="amount" class="form-control custom-round" id="" placeholder="">
                
              </td>
            </tr>
            <tr> 
                <td width="20px">(e)</td>
                <td>House rent allowance under section 10(13A)</td>
                <td class="no-pad">
                  <input type="amount" class="form-control custom-round" id="" placeholder="">
  
                </td>
                <td class="no-pad">
                  <input type="amount" class="form-control custom-round" id="" placeholder="">
                  
                </td>
              </tr>
               <tr>
                 <td width="20px">(f)</td>
                 <td> Amount of any other exemption under section 10 [Note: Break-up to be prepared by employer and issued to the employee, where applicable , before furnishing of Part B to the employee]
                  </td>
                  <td class="no-pad">
                    <input type="amount" class="form-control custom-round" id='' placeholder="">
                  </td>
                  <td class="no-pad">
                    <input type="amount" class="form-control custom-round" id="" placeholder="">
                  </td>
               </tr>
               <tr>
                  <td width="20px">(g)</td>
                  <td> Total amount of any other exemption under section 10

                   </td>
                   <td class="no-pad">
                     <input type="amount" class="form-control custom-round" id='' placeholder="">
                   </td>
                   <td class="no-pad">
                     <input type="amount" class="form-control custom-round" id="" placeholder="">
                   </td>
                </tr>



                
                <tr>
                    <td width="20px">(h)</td>
                    <td> Total amount of exemption claimed under section 10 [2(a)+2(b) +2(c)+2(d)+2(e)+2(g)]
  
                     </td>
                     <td class="no-pad">
                       <input type="amount" class="form-control custom-round" id='' placeholder="">
                     </td>
                     <td class="no-pad">
                       <input type="amount" class="form-control custom-round" id="" placeholder="">
                     </td>
                  </tr>
                  
                <tr>
                  <td width="20px">3.</td>
                  <td> Total amount of salary received from current employer [1(d)-2(h)]

                   </td>
                   <td class="no-pad">
                     <input type="amount" class="form-control custom-round" id='' placeholder="">
                   </td>
                   <td class="no-pad">
                     <input type="amount" class="form-control custom-round" id="" placeholder="">
                   </td>
                </tr>
                <tr>
                  <th width="20px">4.</th>
                  <th colspan="3" width="880px">Less: Deductions under section 16</th>
                  
                  </tr>
                  <tr>
                    <td width="20px">(a)</td>
                    <td width="580px">Standard Deduction Under section 16(ia)
                    </td>
                    <td class="no-pad">
                        <input type="name" class="form-control custom-round" id="" placeholder="">
                      </td>
                      <td class="no-pad">
                          <input type="name" class="form-control custom-round" id="" placeholder="">
                        </td>
                        </tr>
                        <tr>
                            <td width="20px">(b)</td>
                            <td width="580px">Entertainment allowance under section 16(ii)

                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="" placeholder="">
                              </td>
                              <td class="no-pad">
                                  <input type="name" class="form-control custom-round" id="" placeholder="">
                                </td>
                                </tr>
                                <tr>
                                    <td width="20px">(c)</td>
                                    <td width="580px">Tax on employment under section 16(iii)
                                    </td>
                                    <td class="no-pad">
                                        <input type="name" class="form-control custom-round" id="" placeholder="">
                                      </td>
                                      <td class="no-pad">
                                          <input type="name" class="form-control custom-round" id="" placeholder="">
                                        </td>
                                        </tr>
                                        <tr>
                                            <td width="20px">5.</td>
                                            <td width="580px">Total amount of deductions under section 16 [4(a)+4(b)+4(c)]

                                            </td>
                                            <td class="no-pad">
                                                <input type="name" class="form-control custom-round" id="" placeholder="">
                                              </td>
                                              <td class="no-pad">
                                                  <input type="name" class="form-control custom-round" id="" placeholder="">
                                                </td>
                                                </tr>
                                                <tr>
                                                    <td width="20px">6.</td>
                                                    <td width="580px">Income chargeable under the head "Salaries" [(3+1(e)-5]                                                    </td>
                                                    <td class="no-pad">
                                                        <input type="name" class="form-control custom-round" id="" placeholder="">
                                                      </td>
                                                      <td class="no-pad">
                                                          <input type="name" class="form-control custom-round" id="" placeholder="">
                                                        </td>
                                                        </tr>
                                                                
                                                        <tr>
                                                            <th width="20px">7.</th>
                                                            <th colspan="3" width="880px">Add: Any other income reported by the employee under as per section 192 (2B)
                                                              </th>
                                                            
                                                            </tr>
                                                            <tr>
                                                              <td width="20px">(a)</td>
                                                              <td width="580px">Income (or admissible loss) from house property reported by employee offered for TDS </td>
                                                              <td class="no-pad">
                                                                  <input type="name" class="form-control custom-round" id="" placeholder=""><a href="#" data-toggle="modal" data-target="#dora1">Details</a>
                                                                </td>
                                                                <td class="no-pad">
                                                                    <input type="name" class="form-control custom-round" id="" placeholder="">
                                                                  </td>
                                                                
                                                              </tr>  
                                                              <tr>
                                                                  <td width="20px">(b)</td>
                                                                  <td width="">Income under the head Other Sources offered for TDS</td>
                                                                  <td class="no-pad">
                                                                      <input type="name" class="form-control custom-round" id="" placeholder="">
                                                                    </td>
                                                                    <td class="no-pad">
                                                                        <input type="name" class="form-control custom-round" id="" placeholder="">
                                                                      </td>
                                                                    
                                                                     </tr>  
                                                                  <tr>
                                                                    <td width="20px">8.</td>
                                                                    <td >Total amount of other income reported by the employee [7(a)+7 (b)]
                                                                      </td>
                                                                      <td class="no-pad" width="150px">
                                                                        <input type="amount" class="form-control custom-round" id="" placeholder="">

                                                                      </td>
                                                                      <td class="no-pad" width="px">
                                                                        <input type="amount" class="form-control custom-round" id="" placeholder="">

                                                                      </td>
                                                                  </tr> 
                                      <tr>
                                      <td width="20px">9.</td>
                                      <td>Gross total income (6+8)</td>
                                      <td class="no-pad">

                                        <input type="amount" class="form-control custom-round" id="" placeholder="">

                                      </td>
                                      <td class="no-pad">
                                        <input type="amount" class="form-control custom-round" id="" placeholder="">

                                      </td>
                                      </tr> 
                                      <tr>
                                          <th width="20px">10.</th>
                                          <th colspan="3" width="880px">Deductions under Chapter VI-A
                                            </th>
                                          
                                          </tr>
                                      
                                      <tr>
                                          <td width="20px">(a)</td>
                                          <td width="580px">Deduction in respect of life insurance premia, contributions to provident fund etc. under section 80C
                                            </td>
                                          <td width="300px" colspan="2" class="no-pad">
                                             <input type="amount"class="form-control custom-round" id="" placeholder="">
                                          </td>
                                    
                                     </tr>                        

                                     <tr>
                                        <td width="20px">(b)</td>
                                        <td width="580px">Deduction in respect of contribution to certain pension funds under section 80CCC
                                          </td>
                                        <td width="300px" colspan="2" class="no-pad">
                                           <input type="amount"class="form-control custom-round" id="" placeholder="">
                                        </td>
                                  
                                   </tr>                        
                                    
                                   
                                   <tr>
                                      <td width="20px">(c)</td>
                                      <td width="580px">Deduction in respect of contribution by taxpayer to pension scheme under section 80CCD (1)
                                        </td>
                                      <td width="300px" colspan="2" class="no-pad">
                                         <input type="amount"class="form-control custom-round" id="" placeholder="">
                                      </td>
                                
                                 </tr>                        
                                  
                                 <tr>
                                    <td width="20px">(d)</td>
                                    <td width="580px">Total deduction under section 80C, 80CCC and 80CCD(1)
                                      </td>
                                    <td width="300px" colspan="2" class="no-pad">
                                       <input type="amount"class="form-control custom-round" id="" placeholder="">
                                    </td>
                              
                               </tr>                        

                               <tr>
                                  <td width="20px">(e)</td>
                                  <td width="580px">Deductions in respect of amount paid/deposited to notified pension scheme under section 80CCD (1B)
                                      )
                                    </td>
                                  <td width="300px" colspan="2" class="no-pad">
                                     <input type="amount"class="form-control custom-round" id="" placeholder="">
                                  </td>
                            
                             </tr>    
                             <tr>
                                <td width="20px">(f)</td>
                                <td width="580px">Deduction in respect of contribution by Employer to pension scheme under section 80CCD (2)
                                  </td>
                                <td width="300px" colspan="2" class="no-pad">
                                   <input type="amount"class="form-control custom-round" id="" placeholder="">
                                </td>
                          
                           </tr> 
                           
                           <tr>
                              <td width="20px">(g)</td>
                              <td width="580px">Deduction in respect of health insurance premia under section 80D
                                </td>
                              <td width="300px" colspan="2" class="no-pad">
                                 <input type="amount"class="form-control custom-round" id="" placeholder="">
                              </td>
                        
                         </tr>          
                         <tr>
                            <td width="20px">(h)</td>
                            <td width="580px">Deduction in respect of interest on loan taken for higher education under section 80E
                              </td>
                            <td width="300px" colspan="2" class="no-pad">
                               <input type="amount"class="form-control custom-round" id="" placeholder="">
                            </td>
                      
                       </tr>          
                       <tr>
                          <td width="20px">(i)</td>
                          <td width="580px">Total Deduction in respect of donations to certain funds, charitable institutions, etc. under section 80G
                            </td>
                          <td width="300px" colspan="2" class="no-pad">
                             <input type="amount"class="form-control custom-round" id="" placeholder="">
                          </td>
                    
                     </tr>  
                     <tr>
                        <td width="20px">(j)</td>
                        <td width="580px">Deduction in respect of interest on deposits in savings account under section 80TTA

                          </td>
                        <td width="300px" colspan="2" class="no-pad">
                           <input type="amount"class="form-control custom-round" id="" placeholder="">
                        </td>
                  
                   </tr>  
                   <tr>
                   <td width="20px">(k)</td>
                   <td width="580px">Amount deductible under any other provision(s) of Chapter VI-A
                     <span> [Note: Break-up to be prepared by employer and issued to the employee, where applicable , before furnishing of Part B to the employee]</span>
                    </td>        
                    <td width="300px" colspan="2" class="no-pad">
                        <input type="amount"class="form-control custom-round" id="" placeholder="">
                     </td>             
                    </tr>
                                                     
                    <tr>
                        <td width="20px">(l)</td>
                        <td width="580px">Total of amount deductible under any other provision(s) of Chapter VI-A

                          </td>
                        <td width="300px" colspan="2" class="no-pad">
                           <input type="amount"class="form-control custom-round" id="" placeholder="">
                        </td>
                  
                   </tr>  
                   
                   <tr>
                    <td width="20px">11.</td>
                    <td width="580px">Aggregate of deductible amount under Chapter VI-A [10(d)+10 (e)+10(f)+10(g)+10(h)+10(i) 10(j)+10(l)]

                      </td>
                    <td width="300px" colspan="2" class="no-pad">
                       <input type="amount"class="form-control custom-round" id="" placeholder="">
                    </td>
              
               </tr>  
               <tr>
                <td width="20px">12.</td>
                <td width="580px">Total taxable income (9-11)
                </td>
                <td width="300px" colspan="2" class="no-pad">
                   <input type="amount"class="form-control custom-round" id="" placeholder="">
                </td>
          
           </tr>  
           <tr>
            <td width="20px">13.</td>
            <td width="580px">Tax on total income

              </td>
            <td width="300px" colspan="2" class="no-pad">
               <input type="amount"class="form-control custom-round" id="" placeholder="">
            </td>
      
       </tr>   <tr>
        <td width="20px">14.</td>
        <td width="580px">Rebate under section 87A, if applicable
          </td>
        <td width="300px" colspan="2" class="no-pad">
           <input type="amount"class="form-control custom-round" id="" placeholder="">
        </td>
      </tr>  
   
   <tr>
     <td width="20px">15.</td>
    <td width="580px">Surcharge, wherever applicable
       </td>
    
      <td width="300px" colspan="2" class="no-pad">
       <input type="amount"class="form-control custom-round" id="" placeholder="">
    </td>

</tr>  
 <tr>
 
    <td width="20px">16.</td>
  <td width="580px"> Health and education cess

    </td>
  <td width="300px" colspan="2" class="no-pad">
     <input type="amount"class="form-control custom-round" id="" placeholder="">
  </td>

</tr>   
<tr>
  <td width="20px">17.</td>
  <td width="580px">Tax Payable(13+15+1-14)
 </td>
  <td width="300px" colspan="2" class="no-pad">
     <input type="amount"class="form-control custom-round" id="" placeholder="">
  </td>

</tr>  
 <tr>
  <td width="20px">18.</td>
  <td width="580px">Less: Relief under section 89 (attach details)

    </td>
  <td width="300px" colspan="2" class="no-pad">
     <input type="amount"class="form-control custom-round" id="" placeholder="">
  </td>

</tr>   
<tr>
 
    <td width="20px">19.</td>
  <td width="580px">Net Tax Payable(17-18)
    </td>
  <td width="300px" colspan="2" class="no-pad">
     <input type="amount"class="form-control custom-round" id="" placeholder="">
  </td>

</tr>  
<tr class="">
  <th height="40px;" width="1500px;" class="text-center" colspan="24">Verification</th>
  </tr>
  <tr class="">
    <td  colspan="24">
        <div class="row">
      <label class="col-sm-1 form-group">1.</label>
      <div class="col-sm-2"> <input type="text"  class="form-control-2 edit-input" id="" placeholder=""></div>
      <label class=" col-sm-1 control-label">son/daughter</label> 
     <div class="col-sm-2"> <input type="text" class="form-control-2 edit-input" id="" placeholder=""></div>
      <label class="col-sm-2  control-label">.Working in the capacity of </label>
      <div class="col-sm-2"><input type="text" class="form-control-2 edit-input" id="" placeholder=""></div>
      <label class=" control-label">(Designation) do hereby certify that the information given above is true, complete and correct and is based on the books of account, documents, TDS statements, and other available records.</label>
    </div>
    </td>
    </tr>
    <tr> 
      <td><label>Place </label></td>
      <td  class="no-pad"> <input type="text" class="form-control custom-round" id="" placeholder=""></td>
       <td colspan="2" class="no pad">
     <input type="text" class="form-control custom-round" id="" placeholder="(Signature of person responsible for deduction of tax) "></td>
     </tr>
     <tr> 
        <td><label>Date</label></td>
        <td  class="no-pad"><input type="date" class="form-control custom-round" id="" placeholder=""></td>
       <td  colspan="2" class="no pad"><input type="text" class="form-control custom-round" id="" placeholder="Full Name of candidate"></td>
       </tr>

    </table>
    </form>
<div class="row">
<div class="col-sm-2 text-center">    <button class="btn b" type="button">Back</button> </div>
 <div class="col-sm-2 text-center">    <button class="btn b" type="button">Edit</button></div>
 <div class="col-sm-2 text-center">    <button class="btn b" type="button">Save</button></div>
 <div class="col-sm-2 text-center">   <button class="btn b" type="button">Next</button></div>
</div>   
 
   
 
</div>


</body>