
.table{
    border: 2px solid #ddd;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 2px solid #ddd;
}
td{
    height:34px !important;

}

.form-control-1:focus {
    border-color:none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 255, 255);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(251, 251, 251);
}
.form-control-1 {
    display: block;
    width:100%;
    height: 34px;
    padding: 12px 20px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border:none;
    border-radius: 4px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 8px 16px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: opx;
}
.form-control:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
}


.custom-select{

padding:8px 8px;
}

 input, select, textarea {
    font-family: inherit;
    font-size: medium;
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.button, select {
    
text-transform: capitalize;

 border: transparent;

}

.form-control-2
{
 display: block;
    width:150px !important;
    height: 34px !important;
    
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: opx;

}
.form-control-2:focus {
    border-color:none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 255, 255);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(251, 251, 251);
}
 .control-label {
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
    
}
.tax-from1 > label {
    padding-top: 10px !important;
    height: auto;
}

html, body{
	position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
    height: 100%;
   font-family: 'Roboto', sans-serif;
}




.b{

    
    width: 80%;
    height: 40px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
 
    margin-bottom: 12px;
    border-radius: 4px;
	color:#fff;
	font-weight:600;
}
.btn{

    margin-bottom: 20px;

}
.table td, .table th {
    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.edit-input {
    border: 0 !important;
    border-bottom: 2px dotted !important;
    box-shadow: none !important;
}