<body>

    <form>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <h5>Interest Income </h5>
            <fieldset>
                <h5><u>Bank Interest</u></h5>
              <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="bankname" class="form-control" FormControlName="bankname" placeholder="Bank Name">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                         <button class="btn btn-success"  (click)="addInterest(i)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
               </div>

                </div>
            </div> 
             <!--dynamic fields -->
             <div *ngFor="let dynamic of dynamicInterestArray; let i = index;">
                  <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="bankname"  [(ngModel)]="dynamicInterestArray[i].bankname1" [ngModelOptions]="{standalone: true}" class="form-control" FormControlName="bankname" placeholder="Bank Name">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" [(ngModel)]="dynamicInterestArray[i].amount" [ngModelOptions]="{standalone: true}" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                         <button class="btn btn-danger"  (click)="deleteInterest(i)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
               </div>

                </div>
            </div>
         </div>
          
         <h5><u>Fixed Deposit/FD Interest </u> </h5>
            <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="bankname" class="form-control" FormControlName="bankname" placeholder="Bank Name">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                         <button class="btn btn-success"  (click)="addDeposite(i)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
               </div>

                </div>
            </div> 
             <!--dynamic fields -->
            <div *ngFor="let dynamic of dynamicDepositeArray; let i = index;">
                <div class="row">
              <div class="col-sm-12">
                   <div class="row">
                      <div class="col-sm-5">
                         <div class="form-group">
                             <input type="text" name="bankname"  [(ngModel)]="dynamicDepositeArray[i].bankname2" [ngModelOptions]="{standalone: true}" class="form-control" FormControlName="bankname" placeholder="Bank Name">
                         </div>
                      </div>
                      <div class="col-sm-5">
                          <div class="form-group">
                          <input type="number" name="amount" [(ngModel)]="dynamicDepositeArray[i].amount1" [ngModelOptions]="{standalone: true}" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                       <button class="btn btn-danger"  (click)="deleteDeposite(i)"><i class="fa fa-times"></i></button>
                  </div>
              </div>
             </div>

              </div>
          </div>
       </div>
            
            <h5><u>Post Oﬃce Interest </u> </h5>
            <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="Details" class="form-control" FormControlName="details" placeholder="Details">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                         <button class="btn btn-success" (click)="addPost(i)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
               </div>

                </div>
            </div> 
             <!--dynamic fields -->
            <div *ngFor="let dynamic of dynamicPostArray; let i = index;" > 
                <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="Details" class="form-control" [(ngModel)]="dynamicPostArray[i].details1" [ngModelOptions]="{standalone: true}"  FormControlName="details" placeholder="Details">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" id="amount1" class="form-control" [(ngModel)]="dynamicPostArray[i].amount2" [ngModelOptions]="{standalone: true}"  FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                         <button class="btn btn-danger" (click)="deletePost(i)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
               </div>

                </div>
            </div>
         </div>
             <h5><u>Other Interest</u></h5>   
            <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="Details" class="form-control" FormControlName="details" placeholder="Details">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                         <button class="btn btn-success"(click)="addOther(i)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
               </div>

                </div>
            </div> 
            <!--dynamic fields -->
            <div *ngFor="let dynamic of dynamicOtherArray; let i = index;" >
                <div class="row">
                    <div class="col-sm-12">
                         <div class="row">
                            <div class="col-sm-5">
                               <div class="form-group">
                                   <input type="text" name="Details" class="form-control" [(ngModel)]="dynamicOtherArray[i].details2" [ngModelOptions]="{standalone: true}" FormControlName="details" placeholder="Details">
                               </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                <input type="number" name="amount" id="amount1" class="form-control" [(ngModel)]="dynamicOtherArray[i].amount3" [ngModelOptions]="{standalone: true}" FormControlName="amount" placeholder="Amount">  
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                             <button class="btn btn-danger" (click)="deleteOther(i)"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                   </div>
    
                    </div>
                </div> 
            </div>
            <h5><u>Income Tax Refund Interest </u> </h5>   
            <div class="row">
                <div class="col-sm-12">
                     <div class="row">
                        <div class="col-sm-5">
                           <div class="form-group">
                               <input type="text" name="Details" class="form-control" FormControlName="details" placeholder="Details">
                           </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                            <input type="number" name="amount" id="amount1" class="form-control" FormControlName="amount" placeholder="Amount">  
                        </div>
                    </div>
                 </div>
               </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Total Interest Income</label>
                    <div class="col-sm-4">
                        <input type="number" name="interestincome" class = "form-control" required>
                    </div>
                    </div>
              </div>
            </div>
         </fieldset>
         
        <div class="row">
            <div class="col-sm-12">
                <button class="b btn">Next</button>
                <button class="b btn">Edit</button>
                <button class="b btn">Save</button>
            </div>
        </div>

            </div>
        </div>
   </div>
</form>
</body>
