<body>

    <div class="container">
        <div class="row">
        <div class="col-md-8 col-sm-8">
            <form>
            <div class="form-check">
                <input class="form-check-input" type="radio"  name="radi1" (click)="changevalue(true)" checked />
                   <label class="form-check-label" for="exampleRadios1">
                     <h6><strong> Details/Breakup </strong></h6>
                      </label>
                 </div>
                 <div *ngIf="isvalid">
                 <table class="table table-responsive table-bordered">
                    <thead text-center="">
                        <tr>
                            <th>S.no.</th>
                            <th>Category</th>
                            <th>Invested/Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>PROVIDENT FUND-PF</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>2</td>
                            <td>INSURANCE PREMIUM/LIC</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>3</td>
                            <td>TUTION FEE</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>4</td>
                            <td>MUTUAL FUND-ELSS</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>5</td>
                            <td>HOUSING LOAN PRINCIPAL REP</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>6</td>
                            <td>NSC/KVP</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>7</td>
                            <td>TAX SAVING FD</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>8</td>
                            <td>OTHER 1</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>9</td>
                            <td>OTHER 2</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                        <tr>
                            <td>10</td>
                            <td>OTHER 3</td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <!--  -->
                      </tbody>
                    </table>
                    <div class="row">
                    <div class="col-sm-6">
                     <select name="select3" id="selection" class="form-control">
                     <option value="deduction_80CCC">80CCC PENSION PLAN/ANNUITY FUND INVESTMENT</option>
                     <option value="deduction_80CCD_employee_contribution">80CCD EMPLOYEE CONTRIBUTION</option>
                    <option value="deduction_80CCD_employee_contribution_nps">80CCD EMPLOYER CONTRIBUTION TO NPS</option>
                     <option value="deduction_80CCD1b">80CCD1B INVESTED TO NPS</option>
                     <option value="deduction_80CCF">80CCF</option>
                     <option value="deduction_80CCG">80CCG EQUITY SCHEME-RGES</option>
                     <option value="deduction_80E">80E INTEREST PAID ON EDUCATION LOAN</option>
                     <option value="deduction_80EE">80EE HL INTEREST</option>
                     <option value="deduction_80GG">80GG RENT PAID-FOR BUSINESS MAN</option>
                     <option value="deduction_80GGA">80GGA SCIENTIFIC REAEARCH/RURAL DEVELOPMENT DONATION</option>
                     <option value="deduction_80GGB">80GGB</option>
                     <option value="deduction_80GGC">80GGC</option>
                     <option value="deduction_80IA">80IA SEZ UNIT EXEMPTIONS</option>
                     <option value="deduction_80IB">80IB SCIENTIC RESEARCH AND DEVELOPMENT</option>
                     <option value="deduction_80IC">80IC</option>
                      <option value="deduction_80ID">80ID CONVENTION CENTRE AND HOTEL IN SPECIFIC AREAS</option>
                      <option value="deduction_80IE">80IE NORTH EASTERN INDIA PROJECTS</option>
                     <option value="deduction_80JJA">80JJA PROCESSING OF BIO DEGRADABLE WASTE</option>
                    <option value="deduction_80JJAA">80 JJAA	INDIAN COMPANIES WITH CERTAIN CLAUSES</option>
                    <option value="deduction_80LA">80LA SEZ BANKING UNITS</option>
                    <option value="deduction_80P">80P	CO OPERATIVE SOCIETY WITH CLAUSES</option>
                    <option value="deduction_80QQB">80QQB ARTIST/SCIENTIST NATURE</option>
                   <option value="deduction_80RRB">80RRB ROYALITY OF PATENT</option>
                 <option value="deduction_80TTB" disabled="">80TTB</option>
                </select> </div>

                <div class="col-sm-2">
                    <input type="text" name="amount" id="exampleamount" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            
            </div>
            <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered">
             <thead>
                <tr>
                 <th width="200px;">SECTION</th>
                 <th width="100px;">AMOUNT</th>
                <th width="100px;">Remove</th>
               </tr>
             </thead>
             <tbody id="more-deduction-selected-table">
           </tbody>
        </table>
             <input type="hidden" name="is_edit" value="1">
             <input type="hidden" value="575" data-key="deduction_80TTB" class="more-deduction-hidden">
            <div id="qualifying_amount_more_deducation"></div> 
        </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <button class="b btn">Next</button>
                <button class="b btn">Edit</button>
                <button class="b btn">Save</button>
                 </div>
          </div>
          </div>
        </form>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radi1" (click)="changevalue(false)"/>
                   <label class="form-check-label" for="exampleRadios1">
                     <h6> <strong>Gross Amount</strong>  </h6>
                      </label>
                 </div>
                 <div *ngIf="!isvalid" class="gross">
                     <form>
                   <div class="form-group">
                       <label for="gross">Gross Amount Under Section </label>
                           <input type="text" class="form-control"  name="gross1" id="gross" placeholder="Enter Amount">
                     </div>

                     <div class="form-group">
                         <button class="b btn">Next</button>
                         <button class="b btn">Edit</button>
                         <button class="b btn">Save</button>
                     </div>
                    </form>
                   </div>
                 </div>
    </div>
    </div>

</body>
