.custom-round {
    background: #fffdfd;
    border-radius: 3px !important;
    padding: 6px 0px !important;
    padding-left: 6px !important;
    box-shadow: 0 0 0 !important;
    border-color: #ffffff !important;
    height: 35px;
}
.table th, .table td {
    padding: 0.12rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  
}
.table-responsive {
    display: block;
    width: fit-content;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
body{
	position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
  
   font-family: 'Roboto', sans-serif;
}
table{
    margin-top: 20px;
}
.b{
     width: auto;
    height: 40px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
    margin-top: 30px;
    margin-bottom: 12px;
    border-radius: 4px;
    color:#fff;
    float: right;
    font-weight:600;
    margin-left: 8px;
}
.btn{
   margin-bottom: 30px;
}
.gross{
    margin-top:20px;
}

