fieldset{
    padding: 5px;
    width:auto;
    height: auto;
    border: 1px solid gray;
    margin-top: 10px;
}
body{
	position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
  
   font-family: 'Roboto', sans-serif;
}

.b{
     width: auto;
    height: 40px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
    margin-top: 30px;
    margin-bottom: 12px;
    border-radius: 4px;
    color:#fff;
    text-align: center;
    font-weight:600;
    margin-left: 8px;
}
.custom{
    margin-top: 2px;
    width: 100%;
    height: 35px;
    font-size: 13px;
   
    
}
.tax-review-detail{

    margin-top: 10px;
    
}

.custom-round {
    background: #fffdfd;
    border-radius: 3px !important;
    padding: 5px 0px !important;
    padding-left: 6px !important;
    box-shadow: 0 0 0 !important;
    border-color: #ffffff !important;
    height: 35px;
}
.table th, .table td {
    padding: 0.12rem;
    vertical-align: top;
    border-top: 2px solid #dee2e6;
    font-weight: 600;
}
    
td.no-pad input {
    border: 0;
    box-shadow: none !important;
}
.detail-1{

    margin-top:20px;
}
.table-responsive {
    display: block;
    width: fit-content;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}