<body>
    <div class="container">
        <fieldset>
            <legend>Review Details</legend>
            <div class="row">
                        <div class="col-sm-2">   
                          <div class="form-group">
                            <label for="">Your Filing Return</label>
                            <select name="" id="" class="form-control custom">
                              <option value="">Original</option>
                              <option value="">Revised</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group"> 
                            <label for="">Resident Status</label>
                            <select name="" id="" class="form-control custom">
                              <option value="">Resident(R)</option>
                             <option value="">Non Resident(NR)</option>
                             <option value="">Not Oridinary Resident(OR)</option>
                                 </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="">Capacity</label>
                            <select class="form-control custom" name="a">
                             <option value="R" selected="">Self</option>
                              <option value="NR">Representative</option>
                              <option value="O">Karta</option>
                              <option value="O">Partner</option>
                                                         </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                           <div class="form-group">
                                   <label for="">Tax Payer Status</label>
                                   <select  name="" id="" class="form-control custom">
                                   <option value="reserved">I-INDIVIDUAL</option>
                                   <option value="reserved"> H-HUF</option>
                                   <option value="reserved">F-FIRM</option>
                                   </select>
                               </div>
                      </div>
                      <div class="col-sm-3">  
                             <div class="form-group">
                               <label for="">Tax Calculated Calender</label>
                               <input type="date" name="" id="" class="form-control custom">
                             </div>
                           </div>
                      </div>
                      
                      <div class="row">
                             <div class="col-sm-2">
                                     <div class="form-group">
                                       <label for="">Return Filled</label>
                                       <select class="form-control " name="a">
                                         <option value="11" >On Or Before DueDt 139(1) </option>
                                          <option value="12" >After DueDt 139(4)</option>
                                         <option value="13" >in response to notice u/s 142(1)</option>
                                         <option value="14" > In response to notice u/s 148</option>
                                         <option value="16" >In response to notice  u/s 153C r/w 153A</option>
                                     <option value="17" >Revised return u/s 139(5)</option>
                                    <option value="20" >Response u/s 139(9)</option>
                                    <option value="19">Section 139 read with section 92 CD</option>
                                    <option value="17">section 139 read with section 119(2)(b)</option>
                                 </select>
                                     </div>
                                   </div>

                        <div class="col-sm-2">
                          <div class="form-group">
                          <label for="" >Receipt</label>
                          <input type="text" name="b" id="" class="form-control custom ">
                         </div>
                        </div>
                        <div class="col-sm-2">
                           <div class="form-group">
                               <label for="">Date of filing  Return</label>
                               <input type="date" name="b" id="" class="form-control custom">
                              </div>
                        </div>
                        <div class="col-sm-2">
                           <div class="form-group">
                               <label for="">Unique Number</label>
                               <input type="text" name="c" id="" class="form-control custom">
                              </div>
                        </div>
                         <div class="col-sm-2">
                             <div class="form-group">
                                 <label for="">Date of notice order</label>
                                 <input type="date" name="c" id="" class="form-control custom">
                                </div>
                         </div>
                           </div>
                           </fieldset>
                           <div class="row">
                           <div class="col-sm-12 col-md-12">
                            <div class="tax-review-detail">
                            <button type="button" class="btn b">Review Detail & calculate Tax/Refund</button>
                         </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <fieldset>
                                    <h5><u>Personal Details</u></h5>
                                    <div class="form-group row">
                                   <label class="col-sm-4 col-form-label">Name</label>
                                   <div class="col-sm-5">
                                      <input type="hidden"  name="name" id="">
                                   </div>
                                   </div>
                                   <div class="form-group row">
                                       <label class="col-sm-4">PAN No.</label>
                                       <div class="col-sm-5">
                                           <input type="hidden" name="PAN" required>
                                       </div>
                                       </div>
                                       <div class="form-group row">
                                           <label class="col-sm-4">Mobile Number</label>
                                           <div class="col-sm-5">
                                               <input type="hidden" name="Mobile" required>
                                           </div>
                                       </div>
                                           <div class="form-group row">
                                               <label class="col-sm-4">Email</label>
                                               <div class="col-sm-5">
                                                   <input type="hidden" name="Email">
                                               </div>
                                               </div>
                                               <div class="form-group row">
                                                   <label class="col-sm-4">Address</label>
                                                   <div class="col-sm-5">
                                                   <input type="hidden" name="address" id="t1">
                                                   </div>
                                               </div>
                                               <div class="form-group">
                                                   <button style="float:right;" class="btn btn-success">Edit</button>
                                               </div>
                                                </fieldset>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="detail-1 col-sm-7">
                                <h5><u>Income Details</u></h5>
                             <table class="table table-bordered table-responsive">
                                    <tbody>
                                           <tr>
                                             <td>Income From Salary</td>
                                              <td class="no-pad">
                                               <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                                 <a href="">Edit</a>
                                                </td>
                                           </tr>
                                           <!--  -->
                                           <tr>
                                             <td>Income From Other Sources</td>
                                               <td class="no-pad">
                                                   <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                                   <a href="">Edit</a>
                                         </td>
                                           </tr>
                                           <!--  -->
                                           <tr>
                                               <td>Income from house property</td>
                                               <td class="no-pad">
                                                   <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                               <a href="">Edit</a>
                                               </td>

                                           </tr>
                                           <!--  -->
                                           <tr>
                                                <!-- auto calculated disabled field -->
                                              <td>Total </td>
                                               <td class="no-pad">
                                                   <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad"></td>
                                           </tr>
                                           <!--  -->
                                        
                                           <tr>
                                               <td>Less:Deduction</td>
                                               <td class="no-pad">
                                                   <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                                  <a href="">Edit</a>  
                                               </td>
                                           </tr>
                                           <tr>
                                            <td>Taxable Income</td>
                                            <td class="no-pad">
                                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                           <!--  -->
                                         
                                         </tbody>
                                   </table>
                               </div>
                           </div>   
                           <div class="row">
                            <div class="detail-1 col-sm-7">
                                <h5><u>Tax & Interest Calculation</u></h5>
                             <table class="table table-bordered table-responsive">
                                    <tbody>
                                           <tr>
                                             <td>Tax on total income</td>
                                              <td class="no-pad">
                                               <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                                
                                                </td>
                                           </tr>
                                           <!--  -->
                                           <tr>
                                             <td>Less:Relief U/S 87A</td>
                                               <td class="no-pad">
                                                   <input type="text" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                                 
                                         </td>
                                           </tr>
                                           <!--  -->
                                           <tr>
                                               <td>Balance Tax</td>
                                               <td class="no-pad">
                                                   <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                              
                                               </td>

                                           </tr>
                                           <!--  -->
                                           <tr>
                                                <!-- auto calculated disabled field -->
                                              <td>Less: Health & Education Cess</td>
                                               <td class="no-pad">
                                                   <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad"></td>
                                           </tr>
                                           <!--  -->
                                        
                                           <tr>
                                               <td>Gross Tax Libility</td>
                                               <td class="no-pad">
                                                   <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                               </td>
                                               <td class="no-pad">
                                                  
                                               </td>
                                           </tr>
                                           <tr>
                                            <td>Less:Releif u/s 89A</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Less:TDS</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                <a href="">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Less:TCS</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                <a href="">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Less Advance Tax Paid</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                              <a href="">Edit</a>  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Interest U/S 234A</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Interest U/S 234B</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Interest U/S 234B</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Interest U/S 234C</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Interest U/S 234F</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Less: Self assessment tax paid</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                <a href="">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Net Tax Payable / Refundable</td>
                                            <td class="no-pad">
                                                <input type="hidden" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                            </td>
                                            <td class="no-pad">
                                                
                                            </td>
                                        </tr>
                                           <!--  -->
                                         
                                         </tbody>
                                   </table>
                               </div>
                           </div>                      
                           </div>
</body>

