
<body>
    <form>
<div class="container">
 <div class="row">
       <section>
        <fieldset>
        <legend><h4>Exempt Income</h4></legend>
                <div class="row">
                  <div class="col-sm-5">
                 <div class="form-group">          
                       <input type="hidden" name="income[exempt_income][diff_section][sec_name][]" class="exempt-diff-sec-name">
    <input type="hidden" name="income[exempt_income][diff_section][sec_amount][]" class=exempt-diff-sec-amount>
    <select class="form-control custom exempt-income-type movenext">
        <option value="section_10_38_ltcg">SECTION 10 (38) LTCG</option>
        <option value="section_10_34_dividend_income">SECTION 10 (34) EXEMPTED DIVIDEND INCOME</option>
        <option value="section_10_5_lta">SECTION 10 (5) LTA</option>
        <option value="section_10_34_agricultureincome">SECTION 10 (34) AGRICULTURE INCOME LESS THAN OR EQUAL TO 5000</option>
        <option value="section_10_6_remunaration_received">SECTION 10 (6) REMUNERATON,RECEIVED (NOT A CITIZEN OF INDIA)</option>
        <option value="section_10_7_allowance_perquisites_govt">SECTION 10 (7) ALLOWANCES/PERQUSITES BY GOVT.</option>
        <option value="section_10_10_requirment_gratuity">SECTION 10 (10) DETAILS/REQUIREMENT GRATUITY</option>
        <option value="section_10_10A_commuted_person">SECTION 10 (10A) COMMUTED PERSON</option>
        <option value="section_10_10AA1-leave_encashment">SECTION 10 (AA) LEAVE ENCASHMENT</option>
        <option value="section_10_10B_retirement_compensation">SECTION 10 (10B) RETIREMENT COMPENSATION (LIMIT- 500,000)</option>
        <option value="section_10_10C_vrs">SECTION 10 (10C) VRS</option>
        <option value="section_10_10D_insurance_majority_amount">SECTION 10 (10D) INSURANCE MAJORITY AMOUNT</option>
        <option value="section_10_pf_fund_received_statuory">SECTION 10 (11) PF FUND RECEIVED (STATUORY)</option>
        <option value="section_10_10B_superannutation_fund">SECTION 10 (10B) SUPERANNUTATION FUND</option>
        <option value="section_10_13A_hra">SECTION 10 (13A) HRA</option>
        <option value="section_10_14_expenses_reimbursment">SECTION 10 (14) EXPENSES/REIMBURSEMENT o/s 10(14)</option>
        <option value="section_10_15_intrest_income">SECTION 10 (15) INTEREST INCOME o/s 10(15)</option>
        <option value="section_10_16_scholarship">SECTION 10 (16) SCHOLARSHIP o/s 10 (16)</option>
        <option value="section_10_17_allowance_mp_mla_mlc">SECTION 10 (17) ALLOWANCES MP/MLA/MLC</option>
        <option value="section_10_17A_award_by_govt">SECTION 10 (17A) AWARD BY GOVT. o/s 10 (17A)</option>
        <option value="section_10_18_pension_govt_awardee">SECTION 10 (18) PENSION TO GOVT. AWARDEE</option>
        <option value="section_10_19_family_pension">SECTION 10 (19) FAMILY PENSION</option>
        <option value="allowances">ALLOWANCES</option>
        <option value="exempt_other_income">OTHER INCOME</option>
    </select>
</div>
</div>
<div class="col-sm-3">
    <input type="text" class="form-control custom exepmt-income-amount movenext" id="" name="exempt_income_amount" placeholder="Amount">
</div>
<div class="col-sm-3">
    <div class="form-group no-pad custom-salary pluse-buton">
        <button type="button" class="btn btn-success  add-exempt-income"><i class="fa fa-plus"></i></button>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-8">
<tbody>
 <table class="table table-bordered" id="exempt-income-selected-table">
  <tr></tr>                                                                                                                    
 </table>
</div>
</div>  
</fieldset>   



<fieldset>
    <legend><h4>Agriculture Income</h4></legend>
        <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
          <label for="">Gross Agriculture Income</label>
          <input type="text" name="" id="" class="form-control custom" placeholder="">
    </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
          <label for="">Expensess related to Agriculture Income</label>
          <input type="text" name="" id="" class="form-control custom" placeholder="">
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
          <label for="">B/F loss as per pert IV of schedule I</label>
          <input type="text" name="" id="" class="form-control custom" placeholder="">
    </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
          <label for="">Net Agriculture INCOME </label>
          <input type="text" name="" id="" class="form-control custom" placeholder="" disabled>
          </div>
        </div>
      </div>
      
        
      
      <div class="row">
         <div class="col-sm-2"> 
           <div class="form-group"> 
            <label for="Name">Name Of District</label>
             <input required  type="text" id="" name="name" placeholder="" class="form-control custom">
            </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group"> 
            <label for="Pan">PIN Code</label>
            <input required type="text" id="" name="" placeholder="" class="form-control custom">
         </div> 
         </div> 
        <div class="col-sm-3">  
           <div class="form-group"> 
             <label for="Name">Measurement (Acres)</label>  
             <input required type="text" id="" name="Ownership" placeholder="" class="form-control custom">
         </div> 
       </div> 
        <div class="col-sm-2"> 
             <div class="form-group">
                      <label for="Name">Ownership Status</label> 
                        <select class="form-control custom" required>
                          <option value="volvo"></option>
                            <option value="saab">Owned</option>
                               <option value="saab">Leased</option>
                                 </select>
                     </div> 
                    </div> 
                      <div class="col-sm-2"> 
                         <div class="form-group">
                         <label for="Name">Source of water</label> 
                       <select class="form-control custom" required>
                            <option value="volvo"></option>
                            <option value="saab">Irrigated</option>
                            <option value="saab">Rainfed</option>
                        </select>
                     </div> 
                    </div> 
                    <div class="col-sm-1">
                        <button  class="btn btn-success" style="margin-top: 33px;">
                               <i class="fa fa-plus"></i>
                        </button>
                   </div>
                   </div>
                    </fieldset>
                    </section>
                    <div class="row">
                        <button class="btn b">Save</button>
                        <button class="btn b">Edit</button>
                        <button class="btn b">Next</button>
                    </div>
        
    </div>
</div>
</form>
</body>