fieldset{
    padding: 20px;
    width:auto;
    height: auto;
    border: 1px solid gray;
}
section{
       padding: 20px;
         width:auto;
        height: auto;
        border: 1px solid gray;
}
.b{
    width: 100px;
    height: 35px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
    float: right;
    border-radius: 4px;
	color:#fff;
    font-weight:600;
    margin-top: 20px;
    margin-left:15px;
    margin-bottom: 20px;
}
body{
     font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.custom{
    margin-top: 4px;
    width: 95%;
    height: 35px;
    font-size: 13px;
}