
<body>
    <form>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h6><strong>Interest Details</strong></h6>
                    <fieldset>
                     <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Loan Interest</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control"  name="loanInterest" id="loan" placeholder="interest paid">
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Pre Con. Interest</label>
                        <div class="col-sm-5">
                            <input type="text" class = "form-control" name="construction" placeholder="During Constructions" required>
                        </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date Of Loan</label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" name="dateofloan" required>
                            </div>
                        </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date Of Completations</label>
                                <div class="col-sm-5">
                                    <input type="date" name="dateofcompletions" placeholder="Construction complete date " class="form-control"  required>
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Co-Owner/s</label>
                                    <div class="col-sm-5">
                                       <select name="coowner" class="form-control" [(ngModel)]="selectedValue"  name="co_owner" id="">
                                           <option value="original">100% Share</option>
                                           <option value="others">50% Share</option>
                                           <option value="others">33.33% Share</option>
                                           <option value="others">25% Share</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group row" *ngIf="selectedValue == 'others'">
                                    <label for="other" class="col-sm-3">Name Co-Owner Property</label>
                                    <div class="col-sm-5">
                                    <input type="text" class="form-control" id="" required>
                                  </div>  
                                </div>
                                        <div class="form-group row" *ngIf="selectedValue == 'others'">
                                            <label for="other" class="col-sm-3">PAN of Co-Owner Property</label>
                                            <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" required>
                                          </div>  
                                        </div>
                                        <div class="form-group row">
                                            <label for="other" class="col-sm-3">Eligible Interest</label>
                                            <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" required>
                                          </div>  
                                        </div>
                                     </fieldset>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <button class="b btn">Next</button>
                              <button class="b btn">Edit</button>
                              <button class="b btn">Save</button>
                          </div>
                      </div>
                
               
    </div>
</form>
</body>
