<body>


    <div class="container">
        <form>
        <div class="row">
             <div class="col-md-8">
                <h5><strong>TAX Paid/Self Assessment/Advance For paid</strong></h5>
                <table class="table table-bordered table-responsive">
                    <thead text-center="">
                        <tr>
                            
                            <th class="no-pad1">BSR Code</th>
                            <th class="no-pad1">Date Of TAX Deposite</th>
                            <th class="no-pad1">Challan No.</th>
                            <th class="no-pad1">Tax Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                           </tr>
                        <tr>
                            
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        
                        </tr>
                        <tr *ngFor="let dynamic of dynamicArraythird; let i = index;">
                            <td class="no-pad">
                                 <input [(ngModel)]="dynamicArraythird[i].add1" [ngModelOptions]="{standalone: true}" class="form-control" type="text" /> 
                           </td>
                            <td class="no-pad">
                                <input [(ngModel)]="dynamicArraythird[i].add2" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />     
                            </td>
                            <td class="no-pad">
                            <input [(ngModel)]="dynamicArraythird[i].add3" [ngModelOptions]="{standalone: true}" class="form-control" type="text"/> 
                            </td>
                             <td class="no-pad">
                            <input [(ngModel)]="dynamicArraythird[i].add4" [ngModelOptions]="{standalone: true}" class="form-control" type="text"/>   
                            </td>
                          
                    </tr>
                    </tbody>
                </table>
                 
                <button class="btn b" (click)="addMoreRow(i)"> <i class="fa fa-plus"></i></button>
                <button class="btn btn-danger" style="float:right; margin-top:30px;" (click)="deleteMoreRow(i)">    
                 <i class="fa fa-times" aria-hidden="true"></i> 
               </button>  
            </div>
        </div>
          

            <div class="row">
            <div class="col-sm-8 col-md-8">
                   <button class="b btn">Next</button>
                   <button class="b btn">Edit</button>
                   <button class="b btn">Save</button>
             </div>
        </div>
    </form>
    </div>
</body>
    

