
<body>
    <div class="container">
        <div class="row">
             <div class="detail-1 col-sm-6">
                 <h6>Rent & Arears Received</h6>
              <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                               <th>Particulars</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              
                                
                                <td>Yearly Rent Received(+)</td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                              
                                
                                <td>Less:Rent not received during the year(-)</td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                                
                                
                                <td>Less: Sampatti kar/Muncipal tax paid(-)</td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                                 <!-- auto calculated disabled field -->
                               <td>Total </td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                               
                                <!-- auto calculated/ disabled field -->
                                <td>Less:30% for Repairs(-)</td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                               
                                
                                <td>Add: unrealised Rent Received after deducting 30%(+)</td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                               
                                
                                <td>Less:Interest On Housing Loan(-)</td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                            <tr>
                               <td>Total </td>
                                <td class="no-pad">
                                    <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                                </td>
                            </tr>
                            <!--  -->
                        </tbody>
                    </table>
                </div>
            </div>
                     <div class="row">
                         <div class="col-sm-6">
                    <button class="b btn">Next</button>
                    <button class="b btn">Edit</button>
                    <button class="b btn">Save</button>
                </div>
            </div>
        </div>
   
        
</body>
