.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .25rem;
    margin-top:40px;
}
.card-header{
    padding: .5rem;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    background-color: #34bf49;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.b{
    width: 100px;
   height: 40px;
   font-size: 15px;
   background-color: #34bf49;
   border-color: #34bf49;
   margin-top: 30px;
   margin-bottom: 12px;
   border-radius: 4px;
   color:#fff;
   font-weight:600;
   margin-left: 8px;
}


.table-responsive {
    display: block;
    width: fit-content;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
body{
	position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
  
   font-family: 'Roboto', sans-serif;
}
.custom-round {
    background: #fffdfd;
    border-radius: 3px !important;
    padding: 6px 0px !important;
    padding-left: 6px !important;
    box-shadow: 0 0 0 !important;
    border-color: #ffffff !important;
    height: 35px;
}
.table th, .table td {
    padding: 0.13rem;
    vertical-align: top;
    border-top: 2px solid #dee2e6;
  
}
td.no-pad input {
    border: 0;
    box-shadow: none !important;
}