

<body>
                
      
    <form>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10" >
       <div class="card">
           <div class="card-header">INCOME FROM SALARY</div>
           <div class="card-body">
               <h4>Salary Detail</h4>
               <div class="container">
               <div class="row">
              <div class="col-sm-3">
                 <div class="form-group">
                              <label for="emplyname">Employer Name</label>
                              <input type="text" name="" id="" class="form-control">
                          </div> 
                      </div>

                  <div class="col-sm-3">
                      <div class="form-group">
                       <label for="emlytype">Employer Type/Category</label>
                        <select name="" id="" class="form-control custom-select">
                            <option value="">Government</option>
                            <option value="">Public Sector Unit</option>
                            <option value="">Other</option>
                            <option value="">NA</option>
                        </select>
                        </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="cmpnyaddress">Company Address</label>
                          <textarea name="" id="" rows="2"  class="form-control"></textarea>
                      </div>
                  </div>

              </div>
              <h4>Salary and Deduction</h4>
              <div class="row">
             <div class="col-sm-8">
                            <table class="table table-bordered table-responsive custom-top">
                                          <thead text-center="">
                                              <tr>
                                                  <th colspan="2" class="custom-border"> ADDITION <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>
                                                </button> Salary as per form 16</th>
                                                  <th colspan="2" class="custom-border">DEDUCTIONS  <button type="button" class="btn btn-danger">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button> Deduction as per form 16</th>
                                             </tr>
                                              <tr>
                                                  <th>Particulars</th>
                                                  <th>Amount</th>
                                                  <th>Particulars</th>
                                                  <th>Amount</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td class="no-pad1">Salary Received</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round salIncome movenext" id="salary-received" name="incomeStructure[salary_received][]" >
                                                  </td>
                                                  <td class="no-pad1">Standard Deduction</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round deductedIncome movenext" id="others2" name="incomeStructure[others2][]">
                                                  </td>
                                                  
                                              </tr>
                                              <tr>
                                                  <td class="no-pad1">Profit In Lieu Of Salary</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round salIncome movenext" id="allowances-received3" name="incomeStructure[allowances_received3][]" value="">
                                                  </td>
                                                  <td class="no-pad1">Conveyance Allowances</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round deductedIncome movenext" id="conveyance-allowance" name="incomeStructure[conveyance_allowance][]" value="">
                                                  </td>
                                                  
                                                  
                                              </tr>
                                              <tr>
                                                  <td class="no-pad1">HRA</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round salIncome movenext" id="addition-hra" name="incomeStructure[addition_hra][]" value="">
                                                  </td>
                                                  <td class="no-pad1">HRA</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round deductedIncome movenext" id="deduction-hra" name="incomeStructure[deduction_hra][]" value="">
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="no-pad1">Allowances Received</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round " id="allowances-received" name="incomeStructure[allowances_received][]" value="">
                                                  </td>
                                                  <td class="no-pad1">Education Allowances</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round " id="education-allowance" name="incomeStructure[education_allowance][]" value="">
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="no-pad1">Allowances Not Exempt</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round " id="allowances-received2" name="incomeStructure[allowances_received2][]" value="">
                                                  </td>
                                                  <td class="no-pad1">Medical/Uniform Allowance</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round" id="medical-allowances" name="incomeStructure[medical_allowances][]" value="">
                                                  </td>
                                              </tr>
                                              
                                              <tr>
                                                  <td class="no-pad1">Others</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round " id="others" name="incomeStructure[others][]" value="">
                                                  </td>
                                                  <td class="no-pad1">Others 1</td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round" id="others1" name="incomeStructure[others1][]" value="">
                                                  </td>
                                                  
                                              </tr>
                                              <tr>
                                                  <td class="no-pad1">Prequisite Received
                                                  </td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round" id="perquisite-received" name="incomeStructure[perquisite_received][]" value="">
                                                  </td>
                                                  <td class="no-pad1">Professional Tax
                                                  </td>
                                                  <td class="no-pad">
                                                      <input type="text" class="form-control custom-round" id="professional-tax" name="incomeStructure[professional_tax][]" value="">
                                                  </td>
                                              </tr>
                                              <tr class="totalIncomeTr">
                                                  <td class="no-pad1"><strong>Total Salary Received</strong>
                                                  </td>
                                                  <td class="no-pad">
                                                      <input type="hidden" class="form-control custom-round " id="total-salary-id" name="incomeStructure[total_salary][]" value="120000.00">
                                                      <label id="total-salary-label-id"></label>
                                                  </td>
                                                  <td class="no-pad1"><strong>Total Deduction</strong>
                                                  </td>
                                                  <td class="no-pad">
                                                      <input type="hidden" class="form-control custom-round" id="total-deduction-id" name="incomeStructure[total_deduction][]" value="40000.00">
                                                      <label id="total-deduction-label-id"></label>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>  
                                </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group ">   
                                         <label for="staticEmail2">Net Salary = Salary Received - Deduction</label>
                                           <input type="text"  class="form-control mb-2" disabled>
                                    </div>
                                   </div>
                                   </div>
                                </div>
                                </div>
                  
                                </div>
            </div>
           
        </div>
         
        
          <div class="row">
                      <div class="col-sm-6">
                      
                      </div>
                  </div>
        
        
                </div>
        </form>


</body>