
<body>
    
    <div class="container">
        <div class="row">
           
            <div class="col-md-4 col-sm-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-4 col-sm-12">
                <form>
                    <h4>Account Activation</h4>
                    <div class="form-group">
                      <!---<label for="mobileNumber">Mobile Number</label>-->
                     
                      <input type="text" name="mobilenumber" class="form-control custon" id="mobileNumber" placeholder="Please Enter Your Mobile Number">
                     
                    </div>
                   
                    <button class="btn b">Send OTP</button>

                   
                    <div class="form-group " style="margin-top:20px;">
                         <!---<label for="enterOtp">Mobile Number</label>-->
                         <input type="text" name="otp" id="enterOtp" class="form-control custon" placeholder="Enter OTP">
                    </div>

                          <button class="btn b">Submit OTP / Activate Account</button>
                </form>
            </div>  
            <div class="col-md-4 col-sm-4 col-sm-12"></div> 

        </div>
    </div>
</body>
