
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-sm-4 col-sm-12"></div> 
            <div class="col-md-4 col-sm-4 col-sm-12">
         <form>
            <h3 style="margin-top: 100px;" >Change Password</h3>
        <div class="form-group">
        <label for="myInput"> Current Password</label>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control custon"  value="" id="myInput" Placeholder="Enter Current Password">
     </div>
    <div class="form-group">
        <label for="NewPass">New Password</label>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control custon"  value="" id="NewPass" Placeholder="Enter New Password">
     </div>
     <div class="form-group">
        <label for="confirmpass">Confirm Password</label>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control custon"  value="" id="confirmpass" Placeholder="Enter Confirm Password"><br>
        <input type="checkbox" (change)="showHidePassword($event)">Show Password
     </div>
        <button type="Submit"  class="btn b"> <strong>Save Changes</strong></button>
      </form>  
     </div>
     <div class="col-md-4 col-sm-4 col-sm-12"></div> 
     </div>
     </div>
</body>
