
<body>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-8">
                <h6><strong>Do You Have Made Any Donation 80G Section</strong></h6>
            <table class="table table-bordered">
                <thead text-center="">
                    <tr>
                        <th></th>
                        <th>Name of donee</th>
                        <th>Address</th>
                        <th>City or Town or Distric</th>
                        <th>State Code</th>
                        <th>Pin Code</th>
                        <th>PAN of Done</th>
                        <th>Amount of Donation</th>
                        <th>Eligilbe Amount of donation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <select class="form-control custom-round">
                                <option>Andaman  Nicobar-01</option>
                                <option>Andhra Pradesh-02</option>
                                <option>Arunachal Pradesh-03</option>
                                <option>Assam-04</option>
                                <option>Bihar-05</option>
                                <option>Chandigarh-06</option>
                                <option>Dadra Nagar &  Haveli-07</option>
                                <option>Daman & Diu-08</option>
                                <option>Delhi-09</option>
                                <option>Goa-10</option>
                                <option>Gujarat-11</option>
                                <option>Haryana-12</option>
                                <option>HP-13</option>
                                <option>Jammu & Kashmir-14</option>
                                <option>Karnataka-15</option>
                                <option>Kerala-16</option>
                                <option>Lakshadweep-17</option>
                                <option>Madhya Pradesh-18</option>
                                <option>Maharashtra-19</option>
                                <option>Manipur-20</option>
                                <option>Meghalaya-21</option>
                                <option>Mizoram-22</option>
                                <option>Nagaland-23</option>
                                <option>Orissa-24</option>
                                <option>Pondicherry-25</option>
                                <option>Punjab-26</option>
                                <option>Rajasthan-27</option>
                                <option>Sikkim-28</option>
                                <option>Tamil Nadu-29</option>
                                <option>Tripura-30</option>
                                <option>Uttar Pradesh-31</option>
                                <option>West Bengal-32</option>
                                <option>Chattisgarh-33</option>
                                <option>Uttarakhand-34</option>
                                <option>Jharkhand-35</option>
                                <option>Telangana-36</option>
                                <option>Foreign-37</option>
                                </select> 

                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="0">
                        </td>
                    </tr>
                    <!--  -->
                    <tr>
                        <td>2</td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <select class="form-control custom-round">
                              
                                <option>Andaman  Nicobar-01</option>
                                <option>Andhra Pradesh-02</option>
                                <option>Arunachal Pradesh-03</option>
                                <option>Assam-04</option>
                                <option>Bihar-05</option>
                                <option>Chandigarh-06</option>
                                <option>Dadra Nagar &  Haveli-07</option>
                                <option>Daman & Diu-08</option>
                                <option>Delhi-09</option>
                                <option>Goa-10</option>
                                <option>Gujarat-11</option>
                                <option>Haryana-12</option>
                                <option>HP-13</option>
                                <option>Jammu & Kashmir-14</option>
                                <option>Karnataka-15</option>
                                <option>Kerala-16</option>
                                <option>Lakshadweep-17</option>
                                <option>Madhya Pradesh-18</option>
                                <option>Maharashtra-19</option>
                                <option>Manipur-20</option>
                                <option>Meghalaya-21</option>
                                <option>Mizoram-22</option>
                                <option>Nagaland-23</option>
                                <option>Orissa-24</option>
                                <option>Pondicherry-25</option>
                                <option>Punjab-26</option>
                                <option>Rajasthan-27</option>
                                <option>Sikkim-28</option>
                                <option>Tamil Nadu-29</option>
                                <option>Tripura-30</option>
                                <option>Uttar Pradesh-31</option>
                                <option>West Bengal-32</option>
                                <option>Chattisgarh-33</option>
                                <option>Uttarakhand-34</option>
                                <option>Jharkhand-35</option>
                                <option>Telangana-36</option>
                                <option>Foreign-37</option>

                   </select>
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="0">
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <select class="form-control custom-round">
                              
                                <option>Andaman  Nicobar-01</option>
                                <option>Andhra Pradesh-02</option>
                                <option>Arunachal Pradesh-03</option>
                                <option>Assam-04</option>
                                <option>Bihar-05</option>
                                <option>Chandigarh-06</option>
                                <option>Dadra Nagar &  Haveli-07</option>
                                <option>Daman & Diu-08</option>
                                <option>Delhi-09</option>
                                <option>Goa-10</option>
                                <option>Gujarat-11</option>
                                <option>Haryana-12</option>
                                <option>HP-13</option>
                                <option>Jammu & Kashmir-14</option>
                                <option>Karnataka-15</option>
                                <option>Kerala-16</option>
                                <option>Lakshadweep-17</option>
                                <option>Madhya Pradesh-18</option>
                                <option>Maharashtra-19</option>
                                <option>Manipur-20</option>
                                <option>Meghalaya-21</option>
                                <option>Mizoram-22</option>
                                <option>Nagaland-23</option>
                                <option>Orissa-24</option>
                                <option>Pondicherry-25</option>
                                <option>Punjab-26</option>
                                <option>Rajasthan-27</option>
                                <option>Sikkim-28</option>
                                <option>Tamil Nadu-29</option>
                                <option>Tripura-30</option>
                                <option>Uttar Pradesh-31</option>
                                <option>West Bengal-32</option>
                                <option>Chattisgarh-33</option>
                                <option>Uttarakhand-34</option>
                                <option>Jharkhand-35</option>
                                <option>Telangana-36</option>
                                <option>Foreign-37</option>

                   </select>
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="0">
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad ">
                            <select  class="custom-round  form-control">
                              
                                <option>Andaman  Nicobar-01</option>
                                <option>Andhra Pradesh-02</option>
                                <option>Arunachal Pradesh-03</option>
                                <option>Assam-04</option>
                                <option>Bihar-05</option>
                                <option>Chandigarh-06</option>
                                <option>Dadra Nagar &  Haveli-07</option>
                                <option>Daman & Diu-08</option>
                                <option>Delhi-09</option>
                                <option>Goa-10</option>
                                <option>Gujarat-11</option>
                                <option>Haryana-12</option>
                                <option>HP-13</option>
                                <option>Jammu & Kashmir-14</option>
                                <option>Karnataka-15</option>
                                <option>Kerala-16</option>
                                <option>Lakshadweep-17</option>
                                <option>Madhya Pradesh-18</option>
                                <option>Maharashtra-19</option>
                                <option>Manipur-20</option>
                                <option>Meghalaya-21</option>
                                <option>Mizoram-22</option>
                                <option>Nagaland-23</option>
                                <option>Orissa-24</option>
                                <option>Pondicherry-25</option>
                                <option>Punjab-26</option>
                                <option>Rajasthan-27</option>
                                <option>Sikkim-28</option>
                                <option>Tamil Nadu-29</option>
                                <option>Tripura-30</option>
                                <option>Uttar Pradesh-31</option>
                                <option>West Bengal-32</option>
                                <option>Chattisgarh-33</option>
                                <option>Uttarakhand-34</option>
                                <option>Jharkhand-35</option>
                                <option>Telangana-36</option>
                                <option>Foreign-37</option>

                   </select>
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="0">
                        </td>
                    </tr>
                    <!--  -->
                    
                    <!--  -->
                    <tr>
                        <td colspan="9"></td>
                    </tr>
                    <!--  -->
                    <tr>
                        <td></td>
                        <td colspan="6"> <strong> TOTAL 80GA </strong>
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="0">
                        </td>
                        <td class="no-pad">
                            <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="0">
                        </td>
                    </tr>
                 
                    <!--  -->
                </tbody>
            </table>
            
    <!-- /table_div -->
        </div>
        </div>
         <!--  -->
      <div class="row">  
    <div class=" col-sm-8 col-md-8">
        <table class="table table-bordered">
            <tr>
                <td> <strong> E </strong>
                </td>
                <td colspan="6"> <strong> Donations (A + B + C + D) </strong>
                </td>
                <td> <strong>0 </strong>
                </td>
                <td>0</td>
            </tr>
        </table>
        <p> <strong> NOTE: IN CASE OF DONEE FUNDS SETUP BY GOVERNMENT AS DESCRIBED IN SECTION 80g (2), PLEASE USE PAN AS "GGGGG0000G" </strong>
        </p>
    </div>
</div> 
    <!--  -->
    <div class="row">
    <div class="col-sm-8 col-md-8">
       
        <button class="b btn">Next</button>
        <button class="b btn">Edit</button>
        <button class="b btn">Save</button>
        
    </div>
</div>
    <!--  -->
    </div>
 
</body>
