body{
	position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
  
   font-family: 'Roboto', sans-serif;
}


.form-check-input{
    margin-left:5px;
}


.b{

    
    width: 50%;
    height: 35px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
 
    margin-bottom: 12px;
    border-radius: 4px;
	color:#fff;
	font-weight:600;
}

  .custon{
      margin-top:-15px;
      width: 100%;
      height:35px;
    font-size: 13px;

}
.BrowswButton{

    margin-top:20px;
}

