<body>
<div class="container">
    <form>
     <div class="row">             
        <div class="col-sm-3">
            <h6>GUMASHTHA LICENCE</h6>
             <div class=" row">
                <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">YES
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">NO
                    </label>
                  </div>
              </div>
              <div class="BrowseButton">
                  
              <div class=" row BrowseButton">
                 
                <div class="col-sm-8">
                    <p>PAN CARD:</p>
                     <div class="custom-file">
                     <input type="file" class=" custon"  name="pancard" >
                     <label class="custom-file-label custon" for="customFile">Choose file</label>
                    </div>
                 </div>
              </div>
         <div class="row">
            <div class="col-sm-8">
                <p>PHOTO: </p>
                 <div class="custom-file">
                 <input type="file" class="custom-file-input custon" id="customFile" name="filename">
                 <label class="custom-file-label custon" for="customFile">Choose file</label>
                </div>
             </div>
        </div>
         <div class=" row">
            <div class="col-sm-8">
                <p>GAS CON. PAPERS:</p>
                <div class="custom-file">
                <input type="file" class="custom-file-input custon" id="customFile" name="filename">
                <label class="custom-file-label custon" for="customFile">Choose file</label>
               </div>
            </div>
            </div>
         
    <div class=" row">
        <div class="col-sm-8">
            <p>RENT AGREEMENT:</p>
                 <div class="custom-file">
                 <input type="file" class="custom-file-input custon" id="customFile" name="filename">
                 <label class="custom-file-label custon" for="customFile">Choose file</label>
                </div>
             </div>
            </div>
    <div class=" row">
        <div class="col-sm-8">
            <p>SHOP PHOTO:</p>
            <div class="custom-file">
            <input type="file" class="custom-file-input custon" id="customFile" name="filename">
            <label class="custom-file-label custon" for="customFile">Choose file</label>
           </div>
        </div>
     </div>
    
    <div class=" row">
        <div class="col-sm-8">
            <p>ELECTRIC BILL:</p>
            <div class="custom-file">
            <input type="file" class="custom-file-input custon" id="customFile" name="filename">
            <label class="custom-file-label custon" for="customFile">Choose file</label>
           </div>
        </div>
     </div>
    
    <div class=" row">
        <div class="col-sm-8">
            <p> OWNER SHIP DEED:</p>
            <div class="custom-file">
            <input type="file" class="custom-file-input custon" id="customFile" name="filename">
            <label class="custom-file-label custon" for="customFile">Choose file</label>
           </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm-8">
           <button class="btn b" type="button">Submit</button>
            
        </div>
        </div>
</div>
</div>

<div class="col-sm-3">
    <h6>GST</h6>
     <div class=" row">
        <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">YES
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">NO
            </label>
          </div>
      </div>
      <div class="BrowseButton">
          
      <div class=" row BrowseButton">
         
        <div class="col-sm-8">
            <p>PAN CARD:</p>
             <div class="custom-file">
             <input type="file" class="custom-file-input custon" id="customFile" name="filename">
             <label class="custom-file-label custon" for="customFile">Choose file</label>
            </div>
         </div>
      </div>
 <div class="row">
    <div class="col-sm-8">
        <p>PHOTO: </p>
         <div class="custom-file">
         <input type="file" class="custom-file-input custon" id="customFile" name="filename">
         <label class="custom-file-label custon" for="customFile">Choose file</label>
        </div>
     </div>
</div>
 <div class=" row">
    <div class="col-sm-8">
        <p>BANK STATEMENT:</p>
        <div class="custom-file">
        <input type="file" class="custom-file-input custon" id="customFile" name="filename">
        <label class="custom-file-label custon" for="customFile">Choose file</label>
       </div>
    </div>
    </div>
 
<div class=" row">
<div class="col-sm-8">
    <p>RENT AGREEMENT:</p>
         <div class="custom-file">
         <input type="file" class="custom-file-input custon" id="customFile" name="filename">
         <label class="custom-file-label custon" for="customFile">Choose file</label>
        </div>
     </div>
    </div>
<div class=" row">
<div class="col-sm-8">
    <p>REGISTRY:</p>
    <div class="custom-file">
    <input type="file" class="custom-file-input custon" id="customFile" name="filename">
    <label class="custom-file-label custon" for="customFile">Choose file</label>
   </div>
</div>
</div>

<div class=" row">
<div class="col-sm-8">
    <p>ELECTRIC BILL:</p>
    <div class="custom-file">
    <input type="file" class="custom-file-input custon" id="customFile" name="filename">
    <label class="custom-file-label custon" for="customFile">Choose file</label>
   </div>
</div>
</div>

<div class=" row">
<div class="col-sm-8">
    <p> GUMASHTHA LIE.:</p>
    <div class="custom-file">
    <input type="file" class="custom-file-input custon" id="customFile" name="filename">
    <label class="custom-file-label custon" for="customFile">Choose file</label>
   </div>
</div>
</div>
<div class=" row">
    <div class="col-sm-8">
        <p>AADHAR CARD FRONT:</p>
        <div class="custom-file">
        <input type="file" class="custom-file-input custon" id="customFile" name="filename">
        <label class="custom-file-label custon" for="customFile">Choose file</label>
       </div>
    </div>
    </div>
    <div class=" row">
        <div class="col-sm-8">
            <p>AADHAR CARD BACK:</p>
            <div class="custom-file">
            <input type="file" class="custom-file-input custon" id="customFile" name="filename">
            <label class="custom-file-label custon" for="customFile">Choose file</label>
           </div>
        </div>
        </div>
        <div class=" row">
            <div class="col-sm-8">
               <button class="btn b" type="button">Submit</button>
                
            </div>
            </div>
</div>
</div>

<div class="col-sm-3">
    <h6>INCOME TAX FILE</h6>
     <div class=" row">
        <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">YES
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">NO
            </label>
          </div>
      </div>
      <div class="BrowseButton">
          
      <div class=" row BrowseButton">
         
        <div class="col-sm-8">
            <p>PAN CARD:</p>
             <div class="custom-file">
             <input type="file" class="custom-file-input custon" id="customFile" name="filename">
             <label class="custom-file-label custon" for="customFile">Choose file</label>
            </div>
         </div>
      </div>
 <div class="row">
    <div class="col-sm-8">
        <p>AADHAARCARD FRONT: </p>
         <div class="custom-file">
         <input type="file" class="custom-file-input custon" id="customFile" name="filename">
         <label class="custom-file-label custon" for="customFile">Choose file</label>
        </div>
     </div>
</div>
 <div class=" row">
    <div class="col-sm-8">
        <p>AADHAARCARD BACK:</p>
        <div class="custom-file">
        <input type="file" class="custom-file-input custon" id="customFile" name="filename">
        <label class="custom-file-label custon" for="customFile">Choose file</label>
       </div>
    </div>
    </div>
 
<div class=" row">
<div class="col-sm-8">
    <p>PASSBOOK COPY:</p>
         <div class="custom-file">
         <input type="file" class="custom-file-input custon" id="customFile" name="filename">
         <label class="custom-file-label custon" for="customFile">Choose file</label>
        </div>
     </div>
    </div>
<div class=" row">
<div class="col-sm-8">
    <p>OTHERS DOC1:</p>
    <div class="custom-file">
    <input type="file" class="custom-file-input custon" id="customFile" name="filename">
    <label class="custom-file-label custon" for="customFile">Choose file</label>
   </div>
</div>
</div>

<div class=" row">
<div class="col-sm-8">
    <p>OTHERS DOC2:</p>
    <div class="custom-file">
    <input type="file" class="custom-file-input custon" id="customFile" name="filename">
    <label class="custom-file-label custon" for="customFile">Choose file</label>
   </div>
</div>
</div>

<div class=" row">
<div class="col-sm-8">
    <p>OTHERS DOC3:</p>
    <div class="custom-file">
    <input type="file" class="custom-file-input custon" id="customFile" name="filename">
    <label class="custom-file-label custon" for="customFile">Choose file</label>
   </div>
</div>
</div>
<div class=" row">
    <div class="col-sm-8">
       <button class="btn b" type="button">Submit</button>
        
    </div>
    </div>

</div>
</div>
<div class="col-sm-3">
    <h6>OTHERS</h6>
     <div class=" row">
        <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">YES
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">NO
            </label>
          </div>
      </div>
      <div class="BrowseButton">
          
      <div class=" row BrowseButton">
         
        <div class="col-sm-8">
            <p>ITR COPY:</p>
             <div class="custom-file">
             <input type="file" class="custom-file-input custon" id="customFile" name="filename">
             <label class="custom-file-label custon" for="customFile">Choose file</label>
            </div>
         </div>
      </div>
 <div class="row">
    <div class="col-sm-8">
        <p>OTHERS DOC1: </p>
         <div class="custom-file">
         <input type="file" class="custom-file-input custon" id="customFile" name="filename">
         <label class="custom-file-label custon" for="customFile">Choose file</label>
        </div>
     </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <p>OTHERS DOC2: </p>
         <div class="custom-file">
         <input type="file" class="custom-file-input custon" id="customFile" name="filename">
         <label class="custom-file-label custon" for="customFile">Choose file</label>
        </div>
     </div>
</div>

<div class=" row">
    <div class="col-sm-8">
       <button class="btn b" type="button">Submit</button>
        
    </div>
    </div>

</div>
</div>
</div>   
</form>
</div>



</body>