

fieldset{
    padding: 12px;
    background-color: #fff;
     margin-top: 80px;
    border: 2px solid rgb(180, 178, 178);
    width: auto;
    height: auto;
}
.count{
  margin-left: 30px;
  margin-right: 30px;
}
legend{
  margin-top:20px;
}
.width{
  margin-top:20px;
  margin-left:15px;
}
.b{
    width: 100px;
   height: 40px;
   font-size: 15px;
   background-color: #34bf49;
   border-color: #34bf49;
   margin-top: 30px;
   margin-bottom: 12px;
   border-radius: 4px;
   color:#fff;
   float: right;
   font-weight:600;
   margin-left: 8px;
}
.btn{
  margin-bottom: 30px;
}
body{
	position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
  
   font-family: 'Roboto', sans-serif;
}