<body>

  <form>
    <div class="container">
         <fieldset>
                <legend class="leg">Personal details</legend>

                <div class="count">
                    <div class="row">
                        <div class="col-sm-3">
                          <div class="form-group">
                              <label for="">First Name</label>
                              <input type="text" name="firstname" value="" class="form-control " id="First-Name" placeholder="">

                          </div>
                         
                        </div>
                        <div class="col-sm-3">

                            <div class="form-group">
                              <label for="">Middle Name</label>
                              <input type="middle" name="middlename" value="" class="form-control custom-round " id="middlename" >
                          </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="form-group">
                                        <label for="">Last Name</label>
                                        <input type="text" name="lastname" value="" class="form-control custom-round " id="lastname" placeholder="">
                                    </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="form-group">
                                        <label for="">Father's Name</label>
                                <input type="text" name="fathername" value="" class="form-control custom-round " id="fathername" placeholder="">
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                  <label for="">PAN Number*</label>
                                  <input type="text" name="pannumber" value="" class="form-control custom-round movenext" id="PAN-number" placeholder="">

                              </div>
                            </div>
                            <div class="col-sm-3">

                                <div class="form-group">
                                  <label for="">Date Of Birth</label>
                                  <input type="date" name=" dateofbirth" id="dateofbirth1" class="form-control dateofbirth">
                              </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="form-group">
                                            <label for="">Gender</label>
                                            <select  name="" id="" class="form-control custom-round movenext ">
                                                <option value="original">Select Gender</option>
                                                <option value="reserved">Male </option>
                                                <option value="reserved">Female</option>
                                                
                                                </select>
                                        </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="form-group">
                                            <label for="">Aadhaar Card Number </label>
                                            <input type="text" value="" name="aadharcardnumber" class="form-control custom-round aadhar movenext" id="aadharcardnumber" placeholder="">
                                        </div>
                            </div>
                    </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                                <label for="">Aadhaar Enrollment ID</label>
                                <input  name="" id="" class="form-control">
                                
                            </div>
                </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Email Address *</label>
                        <input type="text" name="email" value="" class="form-control custom-round movenext" id="Email-Address" placeholder="">
                    </div>
                  </div>
                  <div class="col-sm-3">

                      <div class="form-group">
                        <label for="">Mobile Number *</label>
                        <input type="text" name="mobilenumber" value="" class="form-control custom-round movenext" id="mobilenumber" placeholder="" maxlength="10">
                    </div>
                  </div>
                  <div class="col-sm-3">
                          <div class="form-group">
                                  <label for="">Alternate Mobile Number</label>
                                  <input type="text"  name="" id="" class="form-control">
                                      
                              </div>
                  </div>
                 
              </div>
              
              <h5><strong>Address</strong></h5>
                      
              <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Flat / Block Number *</label>
                        <input type="text" name="flatno" value="" class="form-control custom-round movenext" id="flatno" placeholder="">
                    </div>
                  </div>
                  <div class="col-sm-3">

                      <div class="form-group">
                        <label for="">House/Building</label>
                        <input type="text" name="house" value="" class="form-control custom-round movenext" id="house" placeholder="">
                    </div>
                  </div>
                  <div class="col-sm-3">
                          <div class="form-group">
                                  <label for="">Road / Street</label>
                                  <input type="text" name="roadstreet" value="" class="form-control custom-round movenext" id="roadstreet" placeholder="">
                                      
                              </div>
                  </div>
                  <div class="col-sm-3">
                          <div class="form-group">
                              <div class="form-group no-padd-left col-sm-12">
                                  <label for="exampleInputEmail1">Post Office / Tehsil</label>
                                  <input type="text" name="postoffice" value="" class="form-control custom-round movenext" id="postoffice" placeholder="">
                                          </div>
                  </div>
                  </div>
                  </div>

          <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Area / Locality *</label>
                <input type="text" name="area" value="" class="form-control custom-round movenext" id="area" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">

                  <div class="form-group">
                      <label for="exampleInputEmail1">City *</label>
                      <input type="text" name="city" value="" class="form-control custom-round movenext" id="city" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Pincode *
                          </label>
                          <input type="text" name="pincode" value="" class="form-control custom-round movenext" id="pincode" placeholder="">
                          </div>
              </div>
              <div class="col-sm-3">
                      <div class="form-group">
                          <div class="form-group no-padd-left col-sm-12">
                              <label for="exampleInputEmail1">Income Tax Ward circle </label>
                              <input type="text" name="" id="" class="form-control">
                             
                                      </div>
              </div>
          </div>
          </div>
           
                  
      
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="form-group">
                                  <label for="">Name Of Permisess/village</label>
                                  <input  name="" id="" class="form-control">
                                
                              </div>
                  </div>
                    <div class="col-sm-3  col-xs-12">
                      <div class="form-group">
                      <label for="exampleInputEmail1">State *</label>
                              <select class="form-control custom-round movenext" name="state" value>
                                       <option value="">Select State</option>
                                        

<option value="volvo">Andaman and Nicobar islands-01</option>



<option value="volvo">Andhra Pradesh-02</option>



<option value="volvo">Arunachal Pradesh-03</option>



<option value="volvo">Assam-04</option>



<option value="volvo">Bihar-05</option>



<option value="volvo">Chandigarh-06</option>



<option value="volvo">Dadra Nagar and Haveli-07</option>



<option value="volvo">Daman and Diu-08</option>



<option value="volvo">Delhi-09</option>



<option value="volvo">Goa-10</option>



<option value="volvo">Gujarat-11</option>



<option value="volvo">Haryana-12</option>



<option value="volvo">Himachal Pradesh-13</option>



<option value="volvo">Jammu and Kashmir-14</option>



<option value="volvo">Karnataka-15</option>



<option value="volvo">Kerala-16</option>



<option value="volvo">Lakshadweep-17</option>



<option value="volvo">Madhya Pradesh-18</option>



<option value="volvo">Maharashtra-19</option>




<option value="volvo">Manipur=20</option>



<option value="volvo">Meghalaya-21</option>



<option value="volvo">Mizoram-22</option>



<option value="volvo">Nagaland-23</option>



<option value="volvo">Orissa-24</option>



<option value="volvo">Pondicherry-25</option>



<option value="volvo">Punjab-26</option>



<option value="volvo">Rajasthan-27
Sikkim-28</option>



<option value="volvo">Tamil Nadu-29</option>



<option value="volvo">Tripura-30</option>



<option value="volvo">Uttar Pradesh-31</option>



<option value="volvo">West Bengal-32</option>



<option value="volvo">Chattisgarh-33</option>



<option value="volvo">Uttarakhand-34</option>



<option value="volvo">Jharkhand-35</option>



<option value="volvo">Telangana-36</option>



<option value="volvo">Foreign-37</option>
                                        </select>
            </div>
  </div>
              <div class="col-sm-3 col-xs-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Country *</label>
                  <select class="form-control custom-round movenext" name="country">
                    <option value="">Select Country</option>
                                <option value="">india</option>
                              </select>
                                </div>
                               </div>
                              
                          <div class="col-sm-3">  
                            <div class="form-group">
                              <label for="">Tax Calculated Upto Calender</label>
                              <input type="date" name="" id="" class="form-control">
                            </div>
                          </div>
                  </div>
                  </div>
                  
                
                  <h5 style="margin-left: 25px;"><strong>Bank details</strong></h5>
                 <div class="row">
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="bankname">Bank Name *</label>
                                    <input type="text" name="bankname " class="form-control custom-round " id="bankname" placeholder="">
                                 </div>
                               </div>
                                    <div class="col-sm-4">
                                         <div class="form-group">
                                        <label for="exampleInputEmail1">Account Number *</label>
                                        <input type="text" name="accountnumber"  class="form-control custom-round" id="accountnumber" placeholder="">
                                    </div>
                                    </div>
                            

                                    <div class="col-sm-3">
                                         <div class="form-group"> 
                                        <label for="exampleInputEmail1">IFSC CODE *</label>
                                        <input type="text" name="ifsccode"  class="form-control custom-round movenext" id="ifsc" placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-1">
                                      <button type="button" style="margin-top: 30px;" (click)="addBankInput(i)" class="btn btn-success"><i class="fa fa-plus"></i> </button>
                                    </div>
                             </div>
                             <div *ngFor="let dynamic of dynamicBankArray; let i = index;">
                              <div class="row">
                                <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="bankname">Bank Name *</label>
                                     <input type="text" name="bankname" [(ngModel)]="dynamicBankArray[i].bankname" [ngModelOptions]="{standalone: true}" class="form-control custom-round" id="bankname0" placeholder="">
                                  </div>
                                </div>
                                     <div class="col-sm-4">
                                          <div class="form-group">
                                         <label for="exampleInputEmail1">Account Number *</label>
                                         <input type="text" name="accountnumber" [(ngModel)]="dynamicBankArray[i].accountnumber" [ngModelOptions]="{standalone: true}"  class="form-control" id="accountnumber0" placeholder="">
                                     </div>
                                     </div>
                                      <div class="col-sm-3">
                                          <div class="form-group"> 
                                         <label for="exampleInputEmail1">IFSC CODE *</label>
                                         <input type="text" name="ifsccode" [(ngModel)]="dynamicBankArray[i].ifsccode" [ngModelOptions]="{standalone: true}" class="form-control custom-round movenext" id="ifsc0" placeholder="">
                                       </div>
                                     </div>
                                     <div class="col-sm-1">
                                       <button type="button" style="margin-top: 30px;" (click)="deleteBankInput(i)" class="btn btn-danger"><i class="fa fa-times"></i> </button>
                                     </div>
                              </div>
                              </div>
                         </fieldset>
                         <div class="overlay-container">
                         <div id="toast-container" class="toast-top-right toast-container"></div>
                        </div>
           <div class="row">
             <div class="col-sm-12">
               <button class="btn b">Next</button>
               <button class="btn b">Edit</button>
               <button class="btn b">Save</button>
                
             </div>
           </div>
    </div>
  </form>
</body>
