<body>
    <form>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h6><strong>House Details</strong></h6>
                    <fieldset>
                     <div class="form-group row">
                    <label class="col-sm-3 col-form-label">House Address</label>
                    <div class="col-sm-5">
                       <textarea name="HouseAddress" class="form-control" id=""  rows="2" required></textarea>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">City</label>
                        <div class="col-sm-5">
                            <input type="text" class = "form-control" name="city" required>
                        </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="state" required>
                            </div>
                        </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Pincode</label>
                                <div class="col-sm-5">
                                    <input type="number" name="pincode" class = "form-control" required>
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Property Owner</label>
                                    <div class="col-sm-5">
                                       <select name="property" class="form-control" [(ngModel)]="selectedValue" name="property_owner" id="">
                                           <option value="original">Self</option>
                                           <option value="reserved">Minor</option>
                                           <option value="reserved">Spouse</option>
                                           <option value="others">Other</option>
                                        </select>
                                    </div>
                                </div>
                                        <div class="form-group row" *ngIf="selectedValue == 'others'">
                                            <label for="other" class="col-sm-3">Please Specify</label>
                                            <div class="col-sm-5">
                                            <input type="text" class="form-control" id="other" ngModel name="other_property_owner" required>
                                          </div>  
                                        </div>
                                     </fieldset>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <button class="b btn">Next</button>
                              <button class="b btn">Edit</button>
                              <button class="b btn">Save</button>
                          </div>
                      </div>
                
               
    </div>
</form>
</body>
