body{
	position: relative;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    font-family: 'Roboto', sans-serif;
}
.b{
	margin-top: 4px;
    width: 95%;
    height: 35px;
    font-size: 17px;
    background-color: #34bf49;
    border-color: #34bf49;
 
    margin-bottom: 12px;
    border-radius: 4px;
	color:#fff;
	font-weight:600;
}
.custon{
    margin-top: 4px;
    width: 95%;
    height: 35px;
    font-size: 13px;
}
 .bg
{ 

  /* Full height */
  height: 100%;
  width:100%;  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#log{

border:2px solid white;
padding:40px 40px;
margin-top:70px;
-webkit-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0,75);
-moz-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0,75);
box-shadow:  -5px 2px 62px 8px rgba(0,0,0,0,75);
}

.btn:hover, .btn:focus, .btn.focus {
    color: rgb(255, 253, 253);
    text-decoration: none; 
  
  }
 h5{
    text-align: center;
    margin-bottom: 18px;
    margin-left: -10px;
  }
  span {
    display: inline-block;
}
.fb {
    background-color: rgb(70, 103, 175);
    color: white;
  
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  .fa{
      float: left;
 }
 h6{
     margin-top:6px;
     
     font-weight: 700;
 }
  #customBtn {
   display: inline-block;
   background: white;
   color: rgb(131, 124, 124);
   
    width: 100%;
    height: 42px;
    font-size: 13px;

   border-radius: 5px;
   border: thin solid rgb(192, 180, 180);
   white-space: nowrap;
 }
 #customBtn:hover {
   cursor: pointer;
 }
 span.label {
   font-family: serif;
   font-weight: normal;
 }
 span.icon {
  background: url('..\..\..\assets\images\google.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 90px;
  height: 39px;
 
}
 span.buttonText {
   display: inline-block;
   vertical-align: middle;
   padding-left: 42px;
   padding-right: 42px;
   font-size: 14px;
   font-weight: bold;
   /* Use the Roboto font that is loaded in the <head> */
   font-family: 'Roboto', sans-serif;
 }
  
