<body>
    <div class="container-fluid">
         <div class ="row">
         <div class="col-md-4 col-sm-4 col-sm-12"></div> 
             <div class="col-md-4 col-sm-4 col-sm-12 "> 
             <form id="log"> 
                    <h5 >Login In to Submit ITR</h5>
                 <div class="form-group">
                 <input type="email" class="form-control custon " placeholder="User ID" name="uname" required >
                 </div>
                 <div class="form-group">
                 <input type="password" class="form-control custon " placeholder="Password" name="psw" required >
                </div>
                <div class="checkbox">
                 <label><input type="checkbox">Remember Me </label>
                </div>
                <button type="submit" class="btn  b"> Login</button>
                <button type="button" class="btn  b">Reset Password</button>
               <div> <span>New User  <a  class="psw" [routerLink]="['/register']" href="#">Register</a> here </span> </div>
               </form>
          </div>
            <div class="col-md-4 col-sm-4 col-sm-12">
                <div id="log">
                  <h5>Login with Google / Fb</h5>
                        <button href="#" class="fb btn">
                            <i class="fa fa-facebook fa-2x"></i><h6> Login with Facebook</h6>
                           </button>
                           <div id="gSignInWrapper">
                               <div id="customBtn" class="customGPlusSignIn">
                              <span class="icon"></span><h6>Sign In with Google</h6>
                        </div>
                          </div> 
                         </div>
            </div> 
        </div>
             
          
       </div>
    
    
    </body>
    
    