

 <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sidebar</h3>
            <strong></strong>
        </div>

        <ul class="list-unstyled components">
            <li >
                <a href="#homeSubmenu">
                      Make Payments
                </a>
               
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    Pay Tax
                </a>
               
     
  
                