


<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-sm-12"></div> 
            <div class="col-md-6 col-sm-4 col-sm-12">
                <form>
                    <h4>Download Documents</h4>
                       
                <div class="form-group row">
                    <label for="inputAssYear" class="col-sm-4 ">Assessment Year</label>
                    <div class="col-sm-6">
                        <select  class="form-control custon" id="inputAssYear">
                            <option>2020-2021</option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputconfirmpassord" class="col-sm-4 ">Select Documents</label>
                    <div class="col-sm-6">
                        <select  class="form-control custon">
                           
                                <option value="Original">ITR file</option>
                                <option value="Revised">26 AS</option>
                                <option value="Revised">Projected B.S.</option>
                                <option value= "Revised">Other Documents1</option>
                                <option value ="Revised">Other Documents2</option>
                                
                            
                        </select>
                          
                        <button type="submit" class="btn b">Download </button>
                    </div>
                </div>
                </form>
             </div> 
            <div class="col-md-3 col-sm-4 col-sm-12"></div> 
           </div>
    </div>
</body>

