

  <body>
    <div class="container">
            <form>
            <div class="card">
            <div class="card-header">Medical Deduction</div>
            <div class="card-body">
               <div class="row">
                     <div class="col-sm-5">
                         <h6>MEDICAL DEDUCTION</h6>
                         <div class="step-1 80dd-checkbox-div">
                            <label class="checkbox-container"><span>8ODD HANDICAP INDEPENDENT TREATMENT</span>
                                 <input type="checkbox" class="80dd-checkbox medical-deductions-change-class" name="80dd-checkbox" >  
                                    <span class="checkmark"></span>
                                  </label>
                              </div>  
                              </div> 
                              <div class="col-sm-3">
                                  <h6>SEVERE DISABILITY</h6>
                                  <label class="Radio-container margin"><span>	YES</span>
                                      <input type="radio" name="deduction_80dd_radio" class="80dd-radio-button 80dd-radio-button_125 medical-deductions-change-class" disabled value="125000">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="Radio-container margin"><span>	NO</span>
                                      <input type="radio" name="deduction_80dd_radio" class="80dd-radio-button 80dd-radio-button_75 medical-deductions-change-class" disabled value="75000">
                                      <span class="checkmark"></span>
                                  </label>
                                 
                              </div>
                              <div class="col-sm-2">
                                  <h6> AMOUNT</h6>
                                  <input type="text" class="form-control text custom-round 80dd-amount" id="" placeholder="" disabled="" >
                              </div>
                              <div class="col-sm-2">
                                <h6>Deduction</h6>
                                <input type="text" class="form-control text custom-round 80dd-deduction" id="" placeholder="" disabled="" >
                            </div>
                          </div>
                          <div class="row">
                                  <div class="col-sm-5">
                                      
                                          <div class="step-1 80u-checkbox-div">
                                                  <label class="checkbox-container"><span>80U BLIND OR HANDICAPED</span>
                                                      <input type="checkbox" class="80u-checkbox medical-deductions-change-class" name="80u-checkbox"> 
                                                    <span class="checkmark"></span>
                                               </label>
                                              </div>  
                                           </div> 
                                           <div class="col-sm-3">
                                               
                                                  <label class="Radio-container margin"><span>	YES</span>
                                                      <input type="radio" name="deduction_80u_radio" class="80u-radio-button 80u-radio-button_125 medical-deductions-change-class" disabled value="125000">
                                                      <span class="checkmark"></span>
                                                  </label>
                                                  <label class="Radio-container margin"><span>	NO</span>
                                                      <input type="radio" name="deduction_80u_radio" class="80u-radio-button 80u-radio-button_75 medical-deductions-change-class" disabled value="75000">
                                                      <span class="checkmark"></span>
                                                  </label>
                                         </div>
                                           <div class="col-sm-2">
                                               
                                       <input type="text" class="form-control custom-round 80u-amount text" id="" placeholder="" disabled="" >                                                 
                                       </div>
                                       <div class="col-sm-2">
                                         <input type="text" class="form-control text custom-round 80u-deduction" id="" placeholder="" disabled="" >
                                    </div>
                                      </div>
                                       <div class="row">
                                           <div class="col-sm-4">
                                                  <div class="step-1 80ddb-checkbox-div">
                                                          <label class="checkbox-container"><span>80DDB LISTED DISEASES TREATMENT</span>
                                                         <input type="checkbox" class="80ddb-checkbox medical-deductions-change-class" name="80ddb-checkbox">
                                                           <input type="checkbox" class="80ddb-checkbox medical-deductions-change-class">
                                                            <span class="checkmark"></span>
                                                         </label>
                                                   </div>
                                           </div>
                                           <div class="col-sm-2">
                                             <select disabled class="form-control custom-round 80ddb-select medical-deductions-change-class text style">
                                              <option class="" value="">Select Age Group</option>
                                                <option class="80ddb-select-option"  value="40000.00">Below 60</option>
                                                 <option class="80ddb-select-option"  value="100000.00">Above 60</option>
                                                   <option class="80ddb-select-option"  value="100000.00">Above 80</option>
                                            </select>
                                         </div>
                                             <div class="col-sm-2">
                                              <input type="text" name="" id="" class="form-control text  " placeholder="Amount Spent">
                                             </div>    
                                             <div class="col-sm-2">		
                                              <span><input type="text" placeholder="Insaurance Received" class=" text form-control custom-round custom-input-width insuance-received-80ddb medical-deductions-change-class" id="" name="deduction[medical_deduction][insuance_received_80ddb]" ></span>
                                              <input type="hidden" name="deduction[medical_deduction][deduction_amount_80ddb]" class="deducton-amount-80ddb" >
                                              </div>            
                                           <div class="col-sm-2">
                                            
                                            <input type="text" class="form-control tex custom-round custom-input-width amount-paid-80ddb" id="" name="deduction[medical_deduction][amount_paid_80ddb]"  readonly="">
                                        
                                        </div>
                                            
                               </div>

                                      </div>
                                      <div class="row">
                                          <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="staticEmail" style="margin-left: 10px;" class="col-sm-3 col-form-label">Total Deduction</label>
                                                <div class="col-sm-5">
                                                    <input type="" class = "form-control tb custom-round  medical-deductions-total" name="deduction[medical_deduction][medical_deduction_total]" value="" readonly="">
                                                </div>
                                              </div>
                                          </div>
                                         
                                           </div>
                                      </div>
                                  
        <div class="card">
              <div class="card-header">More Deduction </div>
            <div class="card-body">
                 <div class="container">
                    <div class="row">
                     <div class="col-sm-5">
                       <div class="form-group">
                         <label for="">More Deductions</label>
                            <div class="form-more-deduction" id="moreDeductions">
                             <input type="hidden" name="_token" value="EN36pFw5UuBKGiWMSwDnzlu4vcf8B0unrSJRU1NL">
                                 <input type="hidden" name="efilling_id" value="182">
                                    <input type="hidden" name="classify_group_name" value="MoreDeduction">
                                       <div class="custom-top-deduction">
                                         <select class="form-control custom-round volvo1 more-deduction-type">
                                         <option value="deduction_80CCC">80CCC PENSION PLAN/ANNUITY FUND INVESTMENT</option>
                                         <option value="deduction_80CCD_employee_contribution">80CCD EMPLOYEE CONTRIBUTION</option>
                                         <option value="deduction_80CCD_employee_contribution_nps">80CCD EMPLOYER CONTRIBUTION TO NPS</option>
                                         <option value="deduction_80CCD1b">80CCD1B INVESTED TO NPS</option>
                                         <option value="deduction_80CCF">80CCF</option>
                                         <option value="deduction_80CCG">80CCG EQUITY SCHEME-RGES</option>
                                         <option value="deduction_80E">80E INTEREST PAID ON EDUCATION LOAN</option>
                                         <option value="deduction_80EE">80EE HL INTEREST</option>
                                         <option value="deduction_80GG">80GG RENT PAID-FOR BUSINESS MAN</option>
                                         <option value="deduction_80GGA">80GGA SCIENTIFIC REAEARCH/RURAL DEVELOPMENT DONATION</option>
                                         <option value="deduction_80GGB">80GGB</option>
                                         <option value="deduction_80GGC">80GGC</option>
                                         <option value="deduction_80IA">80IA SEZ UNIT EXEMPTIONS</option>
                                         <option value="deduction_80IB">80IB SCIENTIC RESEARCH AND DEVELOPMENT</option>
                                         <option value="deduction_80IC">80IC</option>
                                         <option value="deduction_80ID">80ID CONVENTION CENTRE AND HOTEL IN SPECIFIC AREAS</option>
                                         <option value="deduction_80IE">80IE NORTH EASTERN INDIA PROJECTS</option>
                                         <option value="deduction_80JJA">80JJA PROCESSING OF BIO DEGRADABLE WASTE</option>
                                         <option value="deduction_80JJAA">80 JJAA INDIAN COMPANIES WITH CERTAIN CLAUSES</option>
                                         <option value="deduction_80LA">80LA SEZ BANKING UNITS</option>
                                         <option value="deduction_80P">80P	CO OPERATIVE SOCIETY WITH CLAUSES</option>
                                         <option value="deduction_80QQB">80QQB ARTIST/SCIENTIST NATURE</option>
                                         <option value="deduction_80RRB">80RRB ROYALITY OF PATENT</option>
                                          <option value="deduction_80TTB" disabled="">80TTB</option>
                                 </select>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                      <div class="col-sm-4">
                                        <input type="text" style="margin-top:33px;" class="form-control  custom-round custom-input-width more-deduction-amount" name="more_Deduction_Amount" id="more_Deduction_Amount" placeholder="Amount">
                                      </div>
                                     <!--  -->
                                       <div class="col-sm-2">
                                        <button type="button"n style="margin-top:33px;" class="btn hub btn-success  add-more-deduction"><i class="fa fa-plus" aria-hidden="true"></i>
                                         </button>
                                            </div>
                                            </div>
                                          <div class="row">
                                              <div class="col-sm-9">
                                                <div class="detail-table top-details">
                                                     <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="200px;">SECTION</th>
                                                                <th width="100px;">AMOUNT</th>
                                                                <th width="100px;">Remove</th>
                                                            </tr>            
                                                        </thead>
                                                     <tbody id="more-deduction-selected-table">
                                                    </tbody>
                                                </table>
                                                   <input type="hidden" name="is_edit" value="1">
                                                   <input type="hidden" value="575" data-key="deduction_80TTB" class="more-deduction-hidden">
                                                </div>
                                                <div id="qualifying_amount_more_deducation"></div>
                                             </div>
                                                </div>    
                                             </div>
                                </div>
                             </div>
                     
                             
                      </form>
                      
                    <div class="row">
                       <div class="col-sm-6">
                           <button class="btn b">Save</button>
                           <button class="btn b">Edit</button>
                           <button class="btn b">Next</button>
                         </div>
                  </div>
            
                          
    </div>
</body>