.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 247, 247);
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .25rem;
    margin-top:40px;
}
.checkbox-container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin-top:20px;
}
.margin{
    margin-top: 15px;
    margin-left: 15px;
}

.checkbox-container input {
position: absolute;
opacity: 0;
cursor: pointer;
}


.checkbox-container .checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
/*background-color: #755a5a;*/
border: 1px solid #555;

}
.checkbox-container:hover input ~ .checkmark {
background-color: transparent;
}
.checkbox-container input:checked ~ .checkmark {
background-color: transparent;
}            
.checkbox-container .checkmark:after {
content: "";
position: absolute;
display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
display: block;
}
.checkbox-container .checkmark:after {
left: 6px;
top: 4px;
width: 5px;
height: 10px;
border: solid #555555;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);

}
.checkbox-container span {
vertical-align: middle;

}

.card-header{
    padding: .5rem;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    background-color: #34bf49;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.margin{
margin-left: 8px;
}
.text{
margin-top: 20px;
}
p{
margin-top: 10px;
margin-left: 38px;
}
.tex{
    margin-top: 20px;
    }
    .b{
        width: 100px;
       height: 40px;
       font-size: 15px;
       background-color: #34bf49;
       border-color: #34bf49;
       margin-top: 30px;
       margin-bottom: 12px;
       border-radius: 4px;
       color:#fff;
       font-weight:600;
       margin-left: 8px;
   }
   .btn{
      margin-bottom: 30px;
   }
   body{
	position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8em;
  
   font-family: 'Roboto', sans-serif;
}
