<body>
      <form >
    <div class="container">
        <div class="row">

            <div class="detail-1 col-md-12">
                <h6><strong>TDS On Rent Recived 26 QC</strong></h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            
                            <th class="no-pad1">PAN Of Tanant</th>
                            <th class="no-pad1">Name Of Tanant</th>
                            <th class="no-pad1">Rent Recevied</th>
                            <th class="no-pad"><select  class="form-control custom-round">
                        <option value="Original">House Property</option>
                        <option value="Reserved">Business Income</option>
                          <option value="Reserved">Other Sources Exemption income</option>
                        <option value="Reserved">Capital Gain</option>
                    </select></th>
                            <th class="no-pad1">TAX Deducted</th>
                            <th class="no-pad1">TDS/Amount Claimed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <tr>
                            
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                            <td class="no-pad">
                                <input type="name" class="form-control custom-round" id="exampleInputEmail1" placeholder="">
                            </td>
                        </tr>
                        <tr *ngFor="let dynamic of dynamicArrayFive; let i = index;">
                            <td class="no-pad">
                                 <input [(ngModel)]="dynamicArrayFive[i].mix1" [ngModelOptions]="{standalone: true}" name="mix1" class="form-control" type="text" /> 
                           </td>
                            <td class="no-pad">
                                <input [(ngModel)]="dynamicArrayFive[i].mix2" [ngModelOptions]="{standalone: true}" name="mix2" class="form-control" type="text" />     
                            </td>
                            <td class="no-pad">
                            <input [(ngModel)]="dynamicArrayFive[i].mix3" [ngModelOptions]="{standalone: true}" name="mix3" class="form-control" type="text"/> 
                            </td>
                             <td class="no-pad">
                            <input [(ngModel)]="dynamicArrayFive[i].mix4"[ngModelOptions]="{standalone: true}" name="mix4" class="form-control" type="text"/>   
                            </td>
                            <td class="no-pad">
                             <input [(ngModel)]="dynamicArrayFive[i].mix5" [ngModelOptions]="{standalone: true}" name="mix5" class="form-control" type="text"/>   
                            </td>
                           <td class="no-pad">
                           <input [(ngModel)]="dynamicArrayFive[i].mix6"  [ngModelOptions]="{standalone: true}" name="mix6" class="form-control" type="text"/>   
                           </td>
                                      
                    </tr>
                    </tbody>
                </table>
                <button class="btn b" (click)="addmixRow(i)"> <i class="fa fa-plus"></i></button>
                <button class="btn btn-danger" style="float:right; margin-top:30px;" (click)="deletemixRow(i)">    
                 <i class="fa fa-times" aria-hidden="true"></i> 
               </button>  
            </div>
           </div>
            <div class="row">
            <div class="next-button next-top col-md-12">
                 <button class="b btn">Next </button>
                 <button class="b btn">Edit</button>
                 <button class="b btn">Save</button>
                
            </div>
        </div>

        
    </div>
</form>
</body>

