


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-sm-12"></div> 
            <div class="col-md-6 col-sm-4 col-sm-12">
                <form>
                    <h4 style="margin-left:15px;">Set Password</h4>
                       
                <div class="form-group row">
                    <label for="inputNewPassword" class="col-sm-4 ">New Password</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control custon" id="inputNewPassword" placeholder="New Password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputconfirmpassord" class="col-sm-4 ">Confirm Password</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control custon" id="inputconfirmpassord" placeholder="Confirm Password" required>
                          
                        <button type="submit" class="btn b">Save / Login </button>
                    </div>
                </div>
                </form>
               

                
            </div> 
            <div class="col-md-3 col-sm-4 col-sm-12"></div> 
          
            
            

        </div>
    </div>
</body>
