<body>

    <form>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
               <h6><strong>House & Tenant Details</strong></h6>
                    <fieldset>
                     <div class="form-group row">
                    <label class="col-sm-4 col-form-label">House Address</label>
                    <div class="col-sm-5">
                       <textarea name="HouseAddress" class="form-control" id=""  rows="2" required></textarea>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">City</label>
                        <div class="col-sm-5">
                            <input type="text" class = "form-control" name="city" required>
                        </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">State</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="state" required>
                            </div>
                        </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Pincode</label>
                                <div class="col-sm-5">
                                    <input type="number" name="pincode" class = "form-control" required>
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tenant Name</label>
                                    <div class="col-sm-5">
                                    <input type="text" name="Tenantname" id="t1" class="form-control" required>
                                    </div>
                                </div>
                                 <div class="form-group row">
                                   <label for="other" class="col-sm-4">Tenant PAN Number</label>
                                   <div class="col-sm-5">
                                    <input type="Number" class="form-control" id="other"  name="Pan" required>
                                    </div>  
                                 </div>
                                     </fieldset>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <button class="b btn">Next</button>
                              <button class="b btn">Edit</button>
                              <button class="b btn">Save</button>
                          </div>
                      </div>
                
               
    </div>
</form>
</body>

