


fieldset{
    padding: 8px;
    width:auto;
    height: auto;
    border: 1px solid gray;
}
body{
	position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9em;
  
   font-family: 'Roboto', sans-serif;
}


.b{
     width: auto;
    height: 40px;
    font-size: 15px;
    background-color: #34bf49;
    border-color: #34bf49;
    margin-top: 30px;
    margin-bottom: 12px;
    border-radius: 4px;
    color:#fff;
    float: right;
    font-weight:600;
    margin-left: 8px;
}